$desktop-min-width: 850px;
$mobile-max-width: $desktop-min-width;
$aspect-ratio: "9/6";

@mixin smallTall {
  @media only screen and (max-width: $mobile-max-width) and (min-height: 400px) {
    @content;
  }
}

@mixin smallWide {
  @media only screen and (max-width: $mobile-max-width) and (max-height: 400px) {
    @content;
  }
}

@mixin smallThin {
  @media only screen and (max-width: 450px) {
    @content;
  }

  //galaxy fold
  @media screen and (width: 280px) and (height: 653px) {
    width: 170px;
    min-width: 0px;
  }
  //iPhone5
  @media screen and (width: 320px) and (height: 568px) {
    width: 208px;
    min-width: 0px;
  }
}

@mixin large {
  @media only screen and (min-width: $desktop-min-width) {
    @content;
  }
}
