$desktop-min-width: 850px;
$mobile-max-width: $desktop-min-width;
$aspect-ratio: "9/6";

@mixin smallTall {
  @media only screen and (max-width: $mobile-max-width) and (min-height: 450px) {
    @content;
  }
}

@mixin smallWide {
  @media only screen and (max-width: $mobile-max-width) and (max-height: 450px) {
    @content;
  }
}

@mixin smallThin {
  @media only screen and (max-width: 450px) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: $desktop-min-width) {
    @content;
  }
}
