$box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
$white: #fff;
$black: #000;
$black-medium: #202c38;
$light-black: #0e0e0e;
$gray-darker: #616583;
$gray-darker-1: #6f6f84;
$gray-darker-2: #5c5c75;
$gray-dark: #9595a5;
$gray-dark-1: #9595a5;
$gray-dark-2: #898999;
$gray-medium: #bdbdbd;
$gray-medium-1: #e3e3e3;
$gray: #ccc;
$gray-light: #f0f0f6;
$gray-light-1: #f5f6f8;
$gray-lighter: #f2f4f7;
$gray-lighter-1: #bdbdbd;
$gray-bluish: #363c63;
$gray-light-blue: #c7cbe4;
$dark-text: #565e75;
$red-light: #fff2fa;
$red-highlight: #ff4a63;
$cornflower: #6460f1;

$veue-corporate: #6460f1;
$veue-lilac: #eeeeff;
$neutral-dark: #40424f;
$neutral-regular: #9595a5;
$neutral-middle: #c1c1cc;
$neutral-soft: #eaeaf0;
$neutral-accents: #f0f0f6;
$neutral-background: #f5f6f8;
