@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,600;0,700;1,800&family=Poppins:ital,wght@0,200;0,300;0,500;1,200&display=swap");

$poppins: "Poppins", Helvetica, Sans-Serif, serif;
$roboto: "Roboto", Helvetica, Sans-Serif, serif;
$nunito: "Nunito", Helvetica, Sans-Serif, serif;

$light-weight: 200;
$normal-weight: 400;
$heavy-weight: 600;
