@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes toZeroTop {
  from {
    top: -80px;
  }
  to {
    top: 0;
  }
}

@keyframes reduceTop {
  from {
    top: 0;
  }
  to {
    top: -80px;
  }
}

@keyframes toZeroTopHeader {
  from {
    margin-top: -48px;
  }
  to {
    margin-top: 0;
  }
}

@keyframes reduceTopHeader {
  from {
    margin-top: 0;
  }
  to {
    margin-top: -48px;
  }
}
