@keyframes beating {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.5);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.5);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes top {
  0% {
    top: 0px;
  }
  20% {
    top: -70px;
  }
  80% {
    top: -70px;
  }
  100% {
    top: 0;
  }
}
