$header_height: 54px;
$footer_mobile_height: 105px;
$footer_desktop_height: 65px;

$content_secondary_width: 30vw;

@mixin aspect-ratio() {
  // https://css-tricks.com/aspect-ratio-boxes/
  &:before {
    content: "";
    width: 1px;
    margin-left: -1px;
    float: left;
    height: 0;
    padding-top: 591.44px / 1127.34px * 100%;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
