@use 'color';

input,
textarea {
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: color.$gray-medium;
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: color.$gray-medium;
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: color.$gray-medium;
  }
}
