$z-index: 0;
@function next-z-index() {
  $z-index: $z-index + 1 !global;
  @return $z-index;
}

// Things you want to appear behind content
$background: -1;

// Default z-index for most elements
$default: next-z-index();

// This is the chat entry so the chat reaction can hide behind chat
$chat-text-entry: next-z-index();

// This is floating streamer profile having animation in mobile view
$channel-bar: next-z-index();

// This is the reaction on chat (heart+name)
$chat-reaction: next-z-index();

// The main video, that might be under other video elements
$primary-video: next-z-index();

// Overlay with 20% opacity on primary video
$video-overlay: next-z-index();

// Video areas that might appear on top of the primary video such as PIP
$secondary-video: next-z-index();

// Mobile video controls
$mobile-video-controls: next-z-index();

// video controls (needs to be in front of mobile controls for video previews to work)
$video-controls: next-z-index();

// General index for dropdowns, should cover most things
$dropdown: next-z-index();

// For tooltips on top of all layers but behind popups/modals & menus.
$tool-tip: next-z-index();

// This is the user menu that toggles visible from the top right in mobile view.
$nav-menu-mobile: next-z-index();

// This is the mobile sticky header
$header: next-z-index();

// This is the user menu that toggles visible from the top right in desktop view.
$nav-menu-desktop: next-z-index();

// The areas behind modals
$modal-skirt: next-z-index();

// Any screen-dominating modals
$modal: next-z-index();
