.channel-mobile-header
  - @channels.each do |channel|
    %a{
      href: "javascript:void(0)",
      draggable: "false",
      class:
          channel == @channel ? "active" : "",
      data: {
        target: "channel-edit.channelTabs",
        action: "click->channel-edit#selectChannel",
        url: channel_edit_path(channel.id)
      }
    }
      = render partial: "channels/channels/partials/channel_icon", locals: { channel: channel }
