= form_for(@channel, html: { data:{target: "channel-edit.form" } }) do |f|
  .channel-edit__header
    .channel-edit__header__name{
      "data-action": "click->channel-edit#openMenu"
    }
      = svg_tag "back"
      Edit Channel
    .channel-edit__header__actions
      %button.action-button{"data-action": "click->channel-edit#doSubmit"} Save Changes
  .channel-edit__body
    .channel-update
      .channel-update__heading
        Channel Icon
        .heading-info
          Visible to other members
      = render partial: "channels/channels/partials/upload_image"
    .channel-update
      .channel-update__heading
        %label{for: "channel_name"} Channel Name
        .heading-info
          Real People, Real Names
      .channel-update__field
        = f.text_field :name, class: 'input-field', placeholder: 'Enter your name', maxlength: "20", data: {target: 'channel-edit.channelName'}
  .channel-edit__footer
    %button{"data-action": "click->channel-edit#doSubmit"} Save Changes
    %div Discard
