@use "../utils/font";
@use "../utils/color";
@use "../global";

body,
.container {
  width: 100%;
  font-size: calc(1vh + 1vw + 20px);
  min-height: 100vh;
  color: color.$neutral-dark;
  @supports (-webkit-touch-callout: none) {
    min-height: -webkit-fill-available;
  }
  a,
  a:visited {
    color: color.$neutral-dark;
  }

  a:hover {
    color: color.$veue-corporate;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-between;
  align-items: center;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 10vh;

    > * {
      margin: min(4vw, 4vh);
    }

    line-height: 1;

    .logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      svg {
        width: calc(1vw + 130px);
      }
    }

    .email {
      display: flex;
      svg {
        fill: color.$neutral-regular;
      }
      flex-direction: column;
      justify-content: center;
      vertical-align: center;
    }

    svg {
      width: calc(1vw + 20px);
    }
  }

  .content {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;

    video,
    .video {
      max-width: 95vw;
      max-height: 80vh;
    }

    .video {
      clip-path: url(#logo-clip);
    }
  }

  .bottom {
    height: 10vh;
  }
}
