@use "../utils/color";
@use "../utils/font";
@use "../utils/breakpoints" as *;
@use "../utils/scale";

.broadcasts {
  display: grid;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  grid-template-columns: 1fr;

  &__header {
    font-family: font.$poppins;
    font-weight: font.$normal-weight;
    line-height: 30px;
    font-size: 20px;
    color: color.$neutral-dark;
    padding-left: 10px;
    margin: 20px auto;
    width: 100%;
    grid-column: 1 / -1;
  }

  @include desktop() {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}
