@use "../utils/color";
@use "../utils/font";
@use "../utils/breakpoints" as *;
@use "../utils/scale";

.broadcasts {
  display: grid;
  justify-content: space-around;
  place-items: center;
  width: 100%;
  row-gap: 50px;
  column-gap: 50px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-bottom: 20px;

  &__header {
    font-family: font.$poppins;
    font-weight: font.$normal-weight;
    line-height: 30px;
    font-size: 20px;
    color: color.$neutral-dark;
    padding-left: 10px;
    margin: 15px auto 20px auto;
    width: 100%;
    grid-column: 1 / -1;
  }

  @include large() {
    &__header {
      margin: 30px auto 20px auto;
    }
  }
}
