@use '../utils/color';
@use '../utils/breakpoints' as *;
@use "utils/font";

$desktop-height: 54px;
$mobile-height: 46px;

header {
  height: $mobile-height;
  box-shadow: 0 0 2.8125rem 0 rgba(142, 142, 142, 0.15);
  display: flex;
  background-color: color.$white;
  position: relative;
  align-items: center;
  padding: 0 10px;
  justify-content: space-between;

  @include large() {
    height: $desktop-height;
    padding: 0 20px;
  }

  .header__left {
    &__logo {
      height: 24px;

      @include large() {
        height: 28px;
      }

      a {
        display: inline-block;
      }
    }
  }

  .header__right {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: $desktop-height;

    button {
      height: 32px;
      font-family: font.$poppins;

      @include large() {
        height: 34px;
      }
    }

    .header-banner {
      .call-to-action {
        @include smallTall() {
          display: none;
        }
        // layout
        display: flex;
        align-items: center;
        padding: 0.35rem 1rem 0.35rem 0.8rem;
        font-size: 0.9375rem;
        margin: 0 0.625rem;

        // style
        color: color.$veue-corporate;
        background: color.$veue-lilac;
        border-radius: 10px;
        border: 1px solid transparent;

        &:focus,
        &:hover {
          text-decoration: underline;
          border: 1px solid color.$veue-corporate;
        }

        svg {
          flex-shrink: 0;
          margin-right: 0.5rem;
          fill: color.$veue-corporate;
        }
      }
    }
  }
}
