@use "../utils/font";
@use "../utils/color";
@use "../utils/breakpoints" as *;

.link-share {
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-align: left;
  font-family: font.$poppins;
  font-size: 14px;
  font-weight: 300;

  @include large() {
    font-weight: font.$normal-weight;
  }

  background: color.$white;

  &--hidden {
    display: none;
    opacity: 0;
    transition: opacity 500ms ease-out;
  }

  &__failure,
  &__success {
    // layout
    width: calc(100% - 31px);
    position: absolute;
    bottom: 0;
    left: 0;
    padding-right: 10px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;

    transform: translate(0%, -200%);

    // style
    background: color.$neutral-dark;
    border-radius: 10px;
    text-align: center;
  }
}
