@use '../utils/color';
@use '../utils/keyframes';
@use '../utils/breakpoints' as *;

.top-navbar {
  height: 45px;
  box-shadow: 0 0 2.8125rem 0 rgba(142, 142, 142, 0.15);
  display: flex;
  background-color: color.$white;
  align-items: center;
  padding: 0 2.1875rem;
  justify-content: space-between;
  .user-auth-area {
    .mobile-menu {
      display: none;
    }
  }
  .navbar-logo {
    svg {
      height: 22px;
    }
  }
  .desktop-area {
    display: flex;
    align-items: center;
    position: relative;
    &:hover {
      .status-dropdown {
        display: block;
      }
    }

    > ul {
      margin: 0;
      padding: 0.625rem 0 0.625rem 0;
      display: flex;
      align-items: center;
      cursor: pointer;
      > li {
        margin-right: 1rem;
        list-style-type: none;
        > a {
          box-shadow: 0rem 0rem 1rem 0.1rem #8e8e8e4a;
          display: inline;
          overflow: hidden;
          padding: 0.5rem 1rem;
          border: 1px solid #80808026;
          border-radius: 1rem;
          list-style-type: none;
          color: color.$black-medium;
          text-decoration: none;
          font-size: 0.875rem;
        }
      }
    }
    &__text {
      color: color.$black-medium;
      font-size: 0.875rem;
      text-transform: capitalize;
    }
    &__profile {
      width: 1.875rem;
      height: 1.875rem;
      border-radius: 1.875rem;
    }
    &__arrow {
      width: 0.65rem;
    }
    .status-dropdown {
      position: absolute;
      background-color: #6460f1;
      width: 14.375rem;
      right: 0;
      padding: 0.9375rem 0;
      border-radius: 0.625rem;
      top: 4rem;
      display: none;
      z-index: 1;
      a {
        color: color.$white;
      }

      &:after {
        content: "";
        position: absolute;
        top: -0.5rem;
        width: 0;
        height: 0;
        border-left: 0.5rem solid transparent;
        border-right: 0.5rem solid transparent;
        border-bottom: 0.5rem solid color.$cornflower;
        right: 1.9375rem;
      }
    }
  }

  @include mobile() {
    .user-auth-area {
      display: none;
    }
  }
}
