@use 'utils/color';

.top-navbar {
  height: 4.5rem;
  box-shadow: 0 0 2.8125rem 0 rgba(142, 142, 142, 0.15);
  display: flex;
  background-color: color.$white;
  align-items: center;
  padding: 0 2.1875rem;
  justify-content: space-between;
  margin-bottom: 2rem;
  .navbar-logo {
    width: 5.3125rem;
  }
}
.status-user {
  display: flex;
  align-items: center;
  position: relative;
  &:hover {
    .status-dropdown {
      display: block;
    }
  }

  ul {
    margin: 0;
    padding: 0.625rem 0 0.625rem 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    li {
      margin-right: 1rem;
      list-style-type: none;
      a {
        box-shadow: 0rem 0rem 1rem 0.1rem #8e8e8e4a;
        display: inline;
        overflow: hidden;
        padding: 0.5rem 1rem;
        border: 1px solid #80808026;
        border-radius: 1rem;
        list-style-type: none;
        color: color.$black-medium;
        text-decoration: none;
        font-size: 0.875rem;
      }
    }
  }
  &__text {
    color: color.$black-medium;
    font-size: 0.875rem;
    text-transform: capitalize;
  }
  &__profile {
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 1.875rem;
  }
  &__arrow {
    width: 0.875rem;
  }
  .status-dropdown {
    position: absolute;
    background-color: #6460f1;
    width: 14.375rem;
    right: 0;
    padding: 0.9375rem 0;
    border-radius: 0.625rem;
    top: 3.75rem;
    display: none;
    z-index: 1;
    &:after {
      content: "";
      position: absolute;
      top: -0.5rem;
      width: 0;
      height: 0;
      border-left: 0.5rem solid transparent;
      border-right: 0.5rem solid transparent;
      border-bottom: 0.5rem solid color.$purple;
      right: 1.9375rem;
    }

    ul {
      li {
        list-style-type: none;
        a {
          color: color.$white;
        }
      }
    }
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  .modal-content {
    display: inline-block;
    background-color: #fefefe;
    margin: auto;
    padding: 2rem 2.25rem;
    border: 1px solid #888;
    position: absolute;
    top: 4.5rem;
    border-radius: 1rem;
  }
  .login-modal {
    right: 8rem;
    &:after {
      content: "";
      position: absolute;
      top: -0.51rem;
      width: 0;
      height: 0;
      border-left: 0.5rem solid transparent;
      border-right: 0.5rem solid transparent;
      border-bottom: 0.5rem solid color.$white;
      right: 1.9375rem;
    }
  }
  .signup-modal {
    right: 3rem;
    &:after {
      content: "";
      position: absolute;
      top: -0.51rem;
      width: 0;
      height: 0;
      border-left: 0.5rem solid transparent;
      border-right: 0.5rem solid transparent;
      border-bottom: 0.5rem solid color.$white;
      right: 1.9375rem;
    }
  }
  .modal-label {
    color: color.$purple;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }
  form {
    label,
    em {
      width: 81px;
      font-size: 0.9rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: 1.05px;
      text-align: left;
      color: #333b50;
    }
    .field {
      margin-top: 2rem;
      input[type="text"],
      input[type="password"],
      input[type="email"] {
        margin-top: 0.25rem;
        width: 250px;
        height: 20px;
        border-radius: 0.5rem;
        padding: 0.5rem;
        border: solid 1px #e3e3e3;
        background-color: #f5f6f8;
        border: solid 1px color.$gray-medium-1;
        background-color: color.$gray-light-1;
        &:focus {
          outline: none;
        }
      }
    }
    .actions {
      margin-top: 1.5rem;
      input[type="submit"] {
        padding: 0.75rem 2.5rem;
        border-radius: 0.75rem;
        background-color: color.$purple;
        color: color.$white;
        border: none;
      }
    }
  }
}
