@use "../utils/scale";
@use "../utils/color";
@use "../utils/keyframes";
.pin-box {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  padding: 0;
  flex-wrap: wrap;
  justify-content: flex-start;
  .pin {
    position: relative;
    transition: width 0.5s ease-in-out, opacity 0.2s linear 0.5s;
    cursor: pointer;
    width: 180px;
    border-radius: 0.625rem;
    box-shadow: 0 0 2.8125rem 0 rgba(142, 142, 142, 0.15);
    margin: 2vw;
    &[invisible] {
      opacity: 0;
      width: 0;
      margin: 0;
    }
    &__img {
      width: 100%;
      border-radius: 0.625rem;
      object-fit: cover;
    }
    &:hover .button-area {
      opacity: 1;
    }
    .button-area {
      opacity: 0;
      transition: 300ms opacity;
      position: absolute;
      bottom: 0.5rem;
      left: 50%;
      transform: translate(-50%, 0);
      display: flex;
      .icon-box {
        background-color: color.$white;
        width: 3rem;
        height: 3rem;
        border: 0;
        border-radius: 0.625rem;
        margin-right: 0.5rem;
        cursor: pointer;
        outline: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &:hover {
          transform: scale(1.2);
          transition-duration: 200ms;
          box-shadow: color.$box-shadow;
        }
      }
    }
    svg {
      fill: color.$gray-dark-1;
      width: 25px;
      height: 25px;
    }
  }
}
