@use "../utils/scale";
@use "../utils/color";
@use "../utils/keyframes";
.products-box {
  margin-top: 1.5rem;
  display: flex;
  padding: 0;
  justify-content: space-between;
  .product {
    position: relative;
    cursor: pointer;
    height: 115px;
    border-radius: 0.625rem;
    box-shadow: 0 0 2.8125rem 0 rgba(142, 142, 142, 0.15);
    margin: 2vw;
    &__img {
      width: 100%;
      border-radius: 0.625rem;
      object-fit: cover;
    }
    .overlay-text {
      position: absolute;
      top: 0.5rem;
      background-color: #fff;
      left: 50%;
      transform: translate(-50%);
      margin: 0 auto;
      padding: 0.6rem;
      animation: fadeIn ease 0.6s;
      border-radius: 0.625rem;
      z-index: 9;
      display: none;
      > h3 {
        font-size: 0.75rem;
        margin: 0;
        color: color.$gray-darker;
        font-weight: 500;
      }
      .price-link {
        display: flex;
        justify-content: space-between;
        vertical-align: center;
        > span.price {
          color: color.$cornflower;
          font-weight: 500;
          padding: 0.25rem 0;
          margin: 0;
          font-size: 0.75rem;
        }
        .url-box {
          background-color: color.$white;
          border: 1px solid color.$gray-light;
          color: color.$gray-dark-2;
          height: 1.5rem;
          width: 3.5rem;
          font-size: 0.75rem;
          border-radius: 0.625rem;
          cursor: pointer;
          outline: none;
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding: 0 0.5rem;
          margin-top: 0.2rem;
        }
      }
    }
    &:hover {
      .overlay-text {
        height: auto;
        display: block;
        width: 75%;
        @media only screen and (min-width: 1281px) and (max-width: 1920px) {
          width: 69%;
        }
      }
      box-shadow: 0px 0.4375rem 1rem 0 rgba(187, 192, 200, 0.75);
      transition: 100ms;
    }
    .button-area {
      position: absolute;
      bottom: 0.5rem;
      left: 50%;
      transform: translate(-50%, 0);
      display: flex;
      .icon-box {
        background-color: color.$white;
        width: 2rem;
        height: 2rem;
        border: 0;
        border-radius: 0.625rem;
        margin-right: 0.5rem;
        cursor: pointer;
        outline: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        @media only screen and (min-width: 992px) and (max-width: 1366px) {
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 0.325rem;
        }
        @media only screen and (min-width: 1367px) and (max-width: 1920px) {
          width: 2rem;
          height: 2rem;
          border-radius: 0.5rem;
        }
      }
    }
    svg {
      fill: color.$gray-dark-1;
      width: 18px;
      height: 15px;
      @media only screen and (min-width: 1024px) and (max-width: 1366px) {
        width: 11px;
        height: 9px;
      }
    }
  }
}
