@use "../utils/color";
@use "../utils/font";
@use "../utils/breakpoints" as *;

.streamer-profile {
  display: flex;
  flex-direction: column;
  background: color.$white;
  border-radius: 10px;
  padding: 10px 0;

  &__info {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__avatar {
      margin: 0 10px 0;
      img,
      svg {
        border-radius: 50%;
        height: 64px;
        width: 64px;
      }
    }

    &__text {
      align-self: center;
      flex: 1;
      display: flex;
      flex-direction: column;
      margin: 10px 10px 10px 0;

      &__name {
        font-size: 17px;
        font-weight: 600;
        font-family: font.$poppins;
        color: color.$veue-corporate;
        margin-right: 12px;
        line-height: 24px;
        word-break: break-word;

        a {
          text-decoration: none;
          color: color.$veue-corporate;
          text-transform: capitalize;
        }

        svg {
          width: 14px;
          height: 14px;
          position: absolute;
          padding-top: 6px;
          padding-left: 5px;

          @include large() {
            position: inherit;
            padding: 0;
          }
        }
      }

      &__about {
        // This is enabled below on bigger screens
        display: none;
        flex: 1;
      }

      &__broadcast-title {
        font-size: 15px;
        font-weight: 400;
        font-family: font.$nunito;
        line-height: 20px;
        color: color.$neutral-dark;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-right: 10px;

        @include large() {
          display: none;
        }
      }
    }

    &__mobile__about,
    &__text__about {
      font-size: 16px;
      color: color.$neutral-dark;
    }

    &__follow {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 10px 0;
      margin-right: 10px;

      &__count {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        min-width: 63px;
        border-radius: 10px;
        color: color.$veue-corporate;
        background: color.$veue-lilac;
        flex: 0 1 auto;
        margin: 0 10px;

        @include smallThin() {
          & {
            display: none;
          }
        }

        svg {
          height: 13px;
          width: 14px;

          path {
            fill: color.$veue-corporate;
          }
        }

        span {
          padding-left: 10px;
        }
      }

      .follow-btn {
      }

      .unfollow-btn {
        color: color.$veue-corporate;
        background: color.$veue-lilac;
      }

      button {
        color: color.$white;
        font-size: 14px;
        font-weight: 500;
        font-family: font.$poppins;
        height: 40px;
        background: color.$veue-corporate;
        margin-right: 5px;

        svg {
          height: 10px;
          width: 10px;
        }
      }
    }
  }

  &__upcoming__broadcast {
    border-top: 1px solid color.$neutral-accents;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0.875rem;
    font-family: font.$nunito;
    color: color.$neutral-regular;
    padding: 0.875rem 0.5rem 1rem 0.5rem;
    background: white;
    justify-content: center;

    &__text,
    &__date {
      display: flex;
      padding: 5px 2.5px 0 0;
      align-items: center;

      > * {
        margin: 0 0.15rem;
      }
    }

    &__text {
      svg {
        margin: 0 5px;
      }
      color: color.$veue-corporate;
      font-weight: font.$heavy-weight;
    }

    &__cta {
      padding: 5px 2.5px 0 0;
      flex: 1;
      text-align: right;
    }
  }

  .stream-info {
    .stream-num {
      color: color.$gray-dark;
      margin-bottom: 0.5rem;
    }

    .stream-name {
      color: color.$gray-darker;
    }
  }
}

@include smallTall() {
  .streamer-profile {
    &__upcoming__broadcast {
      // layout
      padding: 0;
      margin-top: -5px;

      // style
      border-top: none;

      &__cta {
        display: none;
      }
    }
  }
}

@include large() {
  .streamer-profile {
    &__info {
      margin: 8px 0 10px 0;

      &__avatar {
        margin: 0 20px 0 20px;
      }

      &__text {
        &__about {
          display: block;
        }
      }
    }

    &__upcoming__broadcast {
      padding: 0.875rem 1rem 0.875rem 1rem;
      justify-content: flex-start;
    }
  }
}
