@use "../utils/color";
@use "../utils/font";
@use "../utils/breakpoints" as *;

.streamer-profile {
  &--content {
    display: flex;
    flex-direction: column;
    background: color.$white;
    border-radius: 10px;
  }

  &__info {
    padding: 10px 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;

    &__avatar {
      margin: 0 10px 0;
      img,
      svg {
        border-radius: 50%;
        height: 64px;
        width: 64px;
      }
    }

    &__details {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: 10px;
    }

    &__text {
      align-self: center;
      flex: 1;
      max-width: 475px;
      padding-right: 1rem;
    }

    &__name {
      font-size: 20px;
      font-weight: 500;
      font-family: font.$poppins;
      color: color.$veue-corporate;

      a {
        text-decoration: none;
        color: color.$veue-corporate;
        text-transform: capitalize;
      }
    }

    &__mobile__about,
    &__desktop__about {
      font-size: 16px;
      color: color.$neutral-dark;
    }

    &__desktop__about {
      display: none;
    }

    &__mobile__about {
      border-top: 1px solid color.$neutral-accents;
      padding: 10px;
      display: flex;
    }

    &__follow {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 10px 0;

      &__count {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 34px;
        min-width: 63px;
        border-radius: 10px;
        color: color.$veue-corporate;
        background: color.$veue-lilac;
        flex: 0 1 auto;
        margin: 0 10px;

        @include smallThin() {
          & {
            display: none;
          }
        }

        svg {
          height: 13px;
          width: 14px;

          path {
            fill: color.$veue-corporate;
          }
        }

        span {
          padding-left: 10px;
        }
      }

      .follow-btn {
        color: color.$veue-corporate;
        background: color.$white;
        border: 1px solid color.$veue-corporate;

        // Make it so the border doesnt actually take up an extra 1px
        margin: -1px;
      }
    }
  }
  .stream-info {
    .stream-num {
      color: color.$gray-dark;
      margin-bottom: 0.5rem;
    }

    .stream-name {
      color: color.$gray-darker;
    }
  }
}

@include large() {
  .streamer-profile {
    &__info {
      padding: 15px 0;

      &__avatar {
        margin: 0 20px 0 40px;
      }

      &__text {
        display: flex;
        flex-direction: column;
      }

      &__desktop__about {
        display: block;
      }

      &__mobile__about {
        display: none;
      }

      &__follow {
        margin-right: 30px;
      }
    }
  }
}
