@use "../utils/scale";
@use "../utils/color.scss";
@use "../utils/font.scss";

.video-card {
  max-width: 80vw;
  max-height: 80vh;
  padding: 1em;

  // Prevents video-card / img mismatches on width.
  width: scale.$video_card_width;

  &:hover,
  &:focus {
    .video-card__image__play {
      display: block;
    }
  }

  &__image {
    position: relative;
    height: scale.$video_card_height;
    overflow: hidden;
    display: flex;

    > img {
      width: scale.$video_card_width;
      border-radius: 10px;
    }
    &__time {
      position: absolute;
      max-width: 56px;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      font-size: 13px;
      color: color.$white;
      margin: 10px 238px 159px 10px;
      padding: 6px;
    }

    &__secondary {
      position: absolute;
      right: 10px;
      bottom: 2px;
      > img {
        border-radius: 10px;
        height: 61px;
        width: 76px;
      }
    }

    &__play {
      display: none;
      position: absolute;
      top: 40%;
      left: 40%;
      > svg {
        background-color: color.$veue-corporate;
        border-radius: 10px;
        height: 25px;
        width: 25px;
        padding: 16px 15px 14px 19px;
      }
    }

    &__views {
      position: absolute;
      display: flex;
      max-width: 65px;
      height: 28px;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      bottom: 10px;
      margin-left: 10px;
    }
    &__svg {
      margin: auto 0 auto 10px;
      * {
        fill: color.$white;
      }
    }
    &__count {
      color: color.$white;
      font-size: 13px;
      margin: 5px 10px 5px 5px;
    }
  }

  &__below {
    display: flex;
    &__flex {
      display: flex;
      flex-direction: column;
    }
    &__name {
      display: flex;
      max-width: 51px;
      max-height: 19px;
      font-size: 14px;
      line-height: 19px;
      display: flex;
      color: color.$neutral-regular;
      margin-left: 10px;
    }
    &__title {
      display: flex;
      max-width: 270px;
      max-height: 50px;
      line-height: 25px;
      font-size: 18px;
      color: color.$neutral-dark;
      margin: 10px 0 0 10px;
    }
    &__letter {
      background: color.$white;
      width: 32px;
      height: 32px;
      font-size: 16px;
      line-height: 32px;
      text-align: center;
      letter-spacing: -0.5px;
      color: color.$neutral-regular;
      margin-top: 16px;
      border-radius: 20px;
    }
  }
}
