@use "../utils/color";
@use "../utils/font";
@use "../utils/breakpoints" as *;

#channels__show #channel-profile {
  width: 100vw;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex: 1;

  #channel-profile__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 140px;
    background: color.$veue-corporate;
    z-index: -1;
  }

  #channel-profile__area {
    margin: 78px 10px 0 10px;
    font-size: 0.875rem;
  }

  @include desktop() {
    #channel-profile__area {
      margin: 78px auto 0 auto;
      width: 85%;
      max-width: 1400px;
    }
  }
}
