@use "../utils/scale";
@use "../utils/color";
@use "../utils/font";
@use "../utils/z_index";
@use "../utils/breakpoints" as *;

#channels__show .channel-profile {
  width: 100%;
  position: relative;
  min-height: calc(100vh - #{scale.$header-height});
  display: flex;
  flex-direction: column;
  flex: 1;

  .channel-profile__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 140px;
    background: color.$veue-corporate;
    z-index: z_index.$background;
  }

  .channel-profile__area {
    margin: 78px 10px 0 10px;
    max-width: 1400px;
    font-size: 0.875rem;
  }

  @include large() {
    .channel-profile__area {
      margin: 78px auto 0 auto;
      width: 85%;
    }
  }
}
