@use "../utils/breakpoints" as *;

#channels__show {
  .channel-page {
    display: flex;
  }

  .broadcasts {
    margin: 10px auto;
    width: 100%;
  }

  @include desktop() {
    .broadcasts {
      margin: 0 auto;
      max-width: 90vw;
      width: auto;
    }
  }
}
