@use "../utils/breakpoints" as *;

#channels__show {
  .channel-page {
    display: flex;
  }

  @include desktop() {
    .broadcasts {
      // Has to be calc because <img> is absolute and overflows margins.
      width: calc(100% - 50px);
      margin-left: 20px;
      margin-right: 30px;
    }
  }
}
