.auth-area
  %h2 Sign in to Veue
  .auth-form
    = render partial: 'form', locals: { resource: resource, resource_name: resource_name, remote: false, type: "html" }
  .shared-links
    = render "users/shared/links"
