.modal.auth{ "data-target": "authentication.modal", "data-action": "click->authentication#hideModal" }
  .modal-skirt
  .modal-content
    - if flash[:modal_error]
      .error= flash[:modal_error]
    .modal-label
      Login With Phone Number
    .form-area
      - @ula ||= (current_ula || UserLoginAttempt.new)
      %form{data: { action: "submit->authentication#doSubmit", method: (@ula.pending_confirmation? ? "PUT" : "POST"), url: (@ula.active? ? users_path : authentication_path)}}
        - if @ula.new?
          .form-row
            Enter your mobile number, and we'll log you in with a quick code!
          .form-row
            %input{type: "tel", disabled: !@ula.new?, value: @ula.phone_number, data: {target: "authentication.phoneInput", action: "input->authentication#validatePhone"}}
        - if @ula.pending_confirmation?
          .form-row Enter the code we just texted you below!
          .form-row
            %input{type: "text", name: "secret_code"}
            %input{type: 'hidden', name: "ula_uuid", value: @ula.ula_uuid}
        - if @ula.active?
          .form-row Pick a Display name!
          %input{type: "text", name: "display_name"}
        .form-row
          %button{type: "submit", data: {target: "authentication.submitButton"}}
            - if @ula.new?
              Send Text
            - if @ula.pending_confirmation?
              Enter Code
            - if @ula.active?
              Submit