- if @display_type.strip?
  .discover__strip
    %h2= @title
    .discover__strip__items
      = render collection: @videos, partial: "shared/video_card", cached: true

- if @display_type.grid?
  .broadcasts
    %h2.broadcasts__header= @title
    = render collection: @videos, partial: "shared/video_card", cached: true
