
.content-area
  - if @live_videos.any?
    %h2 Live Videos!
    .live-videos
      = render collection: @live_videos, partial: "videos/video_card"

  %h2 Recent Videos
  .videos
    = render collection: @recent_videos, partial: "videos/video_card"