.content-area{"data-controller": "streamer-view"}

  .content-area__right__big
    .browser{"data-controller": "veue-browser", "data-veue-browser-krang": asset_pack_url('krang.js'), "data-veue-browser-technodrome": asset_pack_url('technodrome.js')}
      .browser__toolbar
        %input{type: "text", list: "datalist-sites", "data-target": "veue-browser.addressBar", "data-action": "veue-browser#addressChange"}
        %datalist#datalist-sites
          %option https://apple.com
          %option https://revolve.com
          %option https://sonos.com
        %button{"data-action": "veue-browser#refresh"} Refresh
      .browser__frame
        %canvas{width: 1200, height: 784, "data-target": "veue-browser.canvas"}
  .content-area__left__small
    %canvas{"data-target": "streamer-view.webcamCanvas", width: 800, height: 600}
    %video{"data-target": "streamer-view.webcamVideoTag", width: 800, height: 600}