- @data_attributes["playback-id"] = current_user.stream_key

.content-area__right__big
  .browser{"data-controller": "veue-browser"}
    -#<webview id="foo" src="https://www.jcrew.com/" style="width:640px; height:480px"></webview>
    %iframe{"data-target": "veue-browser.iframe", width: 1200, height: 925, src: "https://veuelive.com", "data-action" => "load->veue-browser#iframeLoaded"}

.content-area__left__small
  %canvas{"data-target": "pages--videos-streamer.personVideoCanvas", width: 800, height: 600}

%video.player__video.viewer{"data-action" => "canplay->pages--videos-show#videoLoaded timeupdate->pages--videos-show#progressUpdate", "data-target" => "#{page_stim_controller}.personVideo"}