.chat-section
  .messages-overflow-container{data: {controller: "audience--chat-scroller", target: "audience--chat-scroller.simpleBar"}}
    .messages{data: {controller: "chat-messages"}}
  .like-notification{data: {controller: "reaction-notification"}}
  - unless video.finished?
    .message-write{data: { "controller": "chat", "show-when-logged-in": true }}
      .chat-controls
        .write-area{placeholder: 'Send a message', contenteditable: true, role: "textbox", data: {action: "keydown->chat#chatBoxKeyDown", target: "chat.messageInput"}}
        = render "shared/reaction_button"
    .message-login-prompt{data: { "show-when-logged-out": true }}
      %button{data: {action: "authentication#showModal"}} Login To Chat
