.chat-section
  .messages-overflow-container{"data-simplebar": true}
    .messages{data: {controller: "chat-messages"}}
  - unless video.finished?
    .message-write{data: { "controller": "chat", "show-when-logged-in": true }}
      .write-area
        = text_area_tag :body, "", class: 'write-area__text w-full outline-none', :contenteditable => "", :role => "textbox", name: "message-input", placeholder: 'Send a message', data: { action: "keydown->chat#chatBoxKeyDown"}
    .message-login-prompt{data: { "show-when-logged-out": true }}
      %button{data: {action: "authentication#showModal"}} Login To Chat
