.chat-section{
  data: {
    controller: "chat--scroll"
  }
}
  .messages-overflow-container
    .messages{
      data: {
        controller: "chat--messages",
        target: "chat--scroll.messages"
      }
    }
  %button.chat-scroll{
    data: {
      target: "chat--scroll.scrollButton",
      action: "chat--scroll#scrollToBottom"
    }
  }
    = svg_tag "arrow"
  .like-notification{data: {controller: "chat--reaction-notification"}}
  - unless video.finished?
    .message-write{data: { "controller": "chat--send-message", "show-when-logged-in": true }}
      .chat-controls
        .write-area{placeholder: 'Send a message', contenteditable: true, role: "textbox", data: {action: "keydown->chat--send-message#chatBoxKeyDown", target: "chat--send-message.messageInput"}}
        = render "shared/reaction_button"
    .message-login-prompt{data: { "show-when-logged-out": true }}
      %button{data: {action: "authentication#showModal"}} Login To Chat
