.chat-section{ "data-controller": "chat", "data-chat-user": current_user_id, "data-chat-video-id": current_video.to_param }
  %button.close-btn{data: {action: "click->audience-view#hideChat"}} Close Chat
  .messages-overflow-container{"data-simplebar": true}
    .messages
      - current_video.chat_messages.each do |message|
        = render partial: 'shared/message', locals: { message: message, last_user: @last_user }
        - @last_user = message.user
      .last-message-place{ "data-target": "chat.lastMessage" }
  - if user_signed_in?
    .message-write{data: { target: "chat.messageArea"}}
      .write-area
        = text_area_tag :body, "", class: 'write-area__text w-full outline-none', placeholder: 'Write your message...', data: { action: "keydown->chat#chatBoxKeyDown" }
