.modal.auth{ "data-target": "authentication.modal", "data-action": "click->authentication#hideModal"}
  .modal-skirt
  .modal-content
    - if flash[:modal_error]
      .error= flash[:modal_error]
    .modal-label
      Login With Phone Number
    .form-area
      - @ula ||= (current_session_token || SessionToken.new)
      %form{data: { target: "authentication.form", method: (@ula.pending_confirmation? ? "PUT" : "POST"), url: (@ula.active? ? users_path : authentication_path)}}
        - if @ula.new?
          .form-row
            Enter your mobile number, and we'll log you in with a quick code!
          .form-row
            .form-item
              %input#phone_number_input{type: "tel", data: {target: "authentication.phoneInput", action: "input->authentication#validatePhone"}}
              %input{type: 'hidden', name: "phone_number"}
          .form-row
            %button.form-button{data: {target: "authentication.submitButton", action: "click->authentication#doSubmit"}}
              Send Text
        - elsif @ula.pending_confirmation?
          .form-row Enter the code we just texted you below!
          .form-row
            %input{type: "text", name: "secret_code"}
            .form-item
              %input{type: 'hidden', name: "session_token_uuid", value: @ula.uuid}
          .form-row
            %button.form-button{data: {target: "authentication.submitButton", action: "click->authentication#doSubmit"}}
              Validate
        - elsif @ula.active?
          .form-row
            Pick a Display name!
          .form-row
            .form-item
              %input{type: "text", name: "display_name"}
          .form-row
            %button.form-button{data: {target: "authentication.submitButton", action: "click->authentication#doSubmit"}}
              Save

