.modal.auth{ "data-target": "authentication.modal", "data-action": "click->authentication#hideModal"}
  .modal-skirt
  .modal-content
    - if flash[:modal_error]
      .error= flash[:modal_error]
    .modal-image
      = svg_tag 'logo'
    .form-area
      - @ula ||= (current_session_token || SessionToken.new)
      %form{
        data: {
            target: "authentication.form", controller: "secret-code",
            method: (@ula.pending_confirmation? ? "PUT" : "POST"),
            url: (@ula.active? ? users_path : authentication_path)
          }
        }
        - if @ula.new?
          = render partial: "shared/login_modal/initial"
        - elsif @ula.pending_confirmation?
          = render partial: "shared/login_modal/confirmation"
        - elsif @ula.active?
          .modal-label
            Welcome Aboard!
            .form-row__title
              Pick a name that represents you to be displayed on the streaming chat.
            .form-row
              .form-item
                %input#display-name-input{type: "text", name: "display_name", data:{action:"input->authentication#validateName", target:"authentication.nameInput"}}
            .form-row
              %button.form-button{disabled: true, data: {target: "authentication.submitButton", action: "click->authentication#doSubmit"}}
                Save and Continue
            .form-cancel
              %a{href: "#"}Cancel
            .footer
              .footer__title
                Have fun and make new friends
              .footer__body
                Be kind and always respect others. By continuing you accept the
                %a{href:"#"}VEUE Community Guidelines.
