.reaction-button-area{
  data: {
    target: "chat--send-message.messageReaction",
    controller: "chat--user-reaction",
    action: "click->chat--user-reaction#sendReaction"
  }
}
  = svg_tag "heart"
