@use "../utils/color";

.browser {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;

  &__underlay {
    flex: 1;
    background: color.$gray-dark;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &__bar {
    background-color: color.$white;
    box-shadow: 0 0 2.8125rem 0 rgba(142, 142, 142, 0.15);
    border-bottom: 1px solid color.$neutral-accents;
    display: flex;
    align-items: center;
    padding: 15px 10px;

    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    &__logo {
      display: flex;
      padding: 0 15px;
      svg {
        width: 26px;
      }
    }

    &__controls {
      display: flex;
      padding-right: 12px;
      a {
        height: 19px;
        width: 19px;
        background: none;
        border: 0;
        padding: 0 11px;
        &:disabled * {
          fill: #eee;
        }
        &:active {
          /* Scaling button to 0.98 to its original size */
          transform: scale(0.98);
        }
        &:focus {
          border: 0;
          outline: none;
        }
      }
    }

    &__address {
      flex: 1;
      display: flex;
      align-items: center;
      height: 2.375rem;
      padding-right: 1em;
      border: 1px solid color.$gray-light;
      border-radius: 0.625rem;
      position: relative;
      margin-right: 10px;
      input {
        border: none;
        outline: none;
        width: 100%;
        padding-left: 1.2rem;
        font-size: 1rem;
        background-color: color.$white;
        color: color.$gray-dark-2;
      }
    }

    &__button {
      a {
        background: color.$veue-corporate;
        color: color.$white;
        padding: 9px 25px;
        border-radius: 10px;
        svg {
          width: 19px;
          height: 12px;
          fill: color.$white;
        }
      }
    }
  }
  .time-area {
    padding: 0.6875rem 1.125rem;
    border: none;
    border-radius: 0.9375rem;
    margin-right: 0.4375rem;
    font-weight: 600;
  }
  .time-red {
    background-color: color.$red-light;
    color: color.$red-highlight;
    .time-dot {
      background-color: color.$red-highlight;
    }
  }
  .time-gray {
    background-color: color.$gray-light;
    color: color.$gray-dark-1;
    .dot {
      background-color: color.$gray-dark-1;
    }
  }
  .time-dot {
    width: 0.4375rem;
    height: 0.4375rem;
    display: inline-block;
    border-radius: 0.4375rem;
    vertical-align: middle;
  }
}
