@use "../utils/z_index";
@use "../utils/color";

#broadcast {
  .broadcast-commands {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    background: color.$white;
    border-radius: 10px;

    &__left,
    &__right {
      display: flex;
      padding: 8px 10px;
    }

    .btn {
      display: flex;
      align-items: center;
      padding: 10px;
      position: relative;
      margin-right: 5px;
      background: #f0f0f6;
      border-radius: 10px;

      &--tooltip {
        display: none;
      }

      &:hover {
        cursor: pointer;

        .btn--tooltip {
          display: block;
          width: 130px;
          position: absolute;
          bottom: 100%;
          left: 50%;
          margin-left: -60px;
          background-color: black;
          color: #fff;
          text-align: center;
          padding: 5px 0;
          border-radius: 6px;
        }
      }

      position: relative;

      svg {
        fill: #2e2f30;
        width: 14px;
        height: 14px;
      }

      .select-menu {
        z-index: z_index.$nav-menu;
        position: absolute;
        top: 25px;
        left: 5px;
        background: white;
        margin: 0.25rem;
        border: 1px solid darkgrey;
        display: flex;
        cursor: pointer;
        width: 200px;
        flex-direction: column;

        > div {
          padding: 5px;

          &:hover {
            background: #eee;
          }
        }
      }
    }
  }
}
