@use "../utils/color";
@use "../utils/font";

body {
  margin: 0;
  height: 100vh;
  width: 100%;
  font-family: font.$nunito;
  font-weight: 400;
}

input,
button,
textarea {
  font-family: font.$nunito;
}

#broadcast {
  @media (min-width: 1079px) {
    .content-area {
      .chat-btn,
      .close-btn {
        display: none;
      }
    }
  }
  .chat-section {
    height: 61vh;
  }
  .content-area {
    width: 100%;
    height: 100%;
    display: flex;
    .content--left {
      width: 910px;
      height: 100%;
    }
    .content--right {
      width: 320px;
      padding: 5px;

      #webcam_preview {
        width: 320px;
        height: 180px;
      }

      #audioCanvas {
        height: 20px;
        width: 100%;
      }

      .debug-area {
        width: 0;
        height: 0;
        overflow: hidden;
        canvas {
          width: 99%;
          min-width: 1px;
          border: 1px solid red;
        }
      }

      .broadcast-commands {
        display: flex;
        flex-direction: row;
        .btn {
          &:hover {
            cursor: pointer;
          }
          padding: 0.25rem;
          position: relative;
          svg {
            fill: #2e2f30;
            width: 25px;
            height: 25px;
          }

          .select-menu {
            z-index: 2;
            position: absolute;
            top: 25px;
            left: 5px;
            background: white;
            margin: 0.25rem;
            border: 1px solid darkgrey;
            display: flex;
            cursor: pointer;
            width: 200px;
            flex-direction: column;
            > div {
              padding: 5px;
              &:hover {
                background: #eee;
              }
            }
          }
        }
      }
    }
  }

  .title-area {
    display: flex;
    justify-content: center;

    > .title-input {
      width: 70%;
    }

    > .title-submit {
      width: 25%;
    }
  }
}

.btn.copy-to-clipboard {
  &:hover {
    cursor: default;
  }
  &:active {
    background-color: color.$red-highlight;
  }
}
