@use "../utils/color";
@use "../utils/font";
@use "../utils/z_index";

body {
  margin: 0;
  width: 100%;
  font-family: font.$nunito;
  font-weight: 400;
  overflow: hidden;
}

input,
button,
textarea {
  font-family: font.$nunito;
}

#main-container {
  display: flex;
  justify-content: center;
  height: calc(100vh - 40px);
  padding: 20px;
}

#broadcast {
  width: 100%;
  .broadcast-warning {
    position: absolute;
    z-index: z_index.$warning;
    left: 25%;
    top: 110px;
    padding: 5px 10px;

    display: flex;
    align-items: center;

    background: color.$red-highlight;
    color: color.$white;
    border-radius: 10px;

    span {
      cursor: pointer;
      margin-left: 10px;

      display: flex;

      svg {
        fill: color.$white;
        width: 12px;
      }
    }
  }

  .broadcast--content {
    display: flex;
    align-items: stretch;
    height: 100%;

    .content--left {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-right: 20px;
    }
    .content--right {
      width: 320px;
      position: relative;
      display: flex;
      flex-direction: column;

      #webcam_preview {
        width: 320px;
        height: 180px;
        border-radius: 10px;
      }

      #audioCanvas {
        height: 6px;
        margin-top: 10px;
        border-radius: 10px;
        width: 100%;
        background: color.$white;
      }

      .debug-area {
        &--content {
          border: 1px solid color.$neutral-middle;
          border-radius: 10px;
        }

        .title {
          padding: 0 15px;
          display: flex;
          justify-content: space-between;
          color: color.$veue-corporate;
          border-bottom: 1px solid color.$neutral-soft;

          .icon {
            cursor: pointer;

            svg {
              width: 10px;
              height: 10px;
              path {
                fill: color.$neutral-regular;
              }
            }
          }
        }

        .release-channel {
          padding: 7px 15px;
          input {
            padding: 7px 5px;
            border-radius: 10px;
            border: 1px solid color.$neutral-middle;
          }
        }

        width: 0;
        height: 0;
        overflow: hidden;
        canvas {
          width: 99%;
          min-width: 1px;
          padding: 0 15px;
        }
      }

      .broadcast-settings__form {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        background-color: color.$white;

        * {
          margin-bottom: 5px;
          &:focus {
            outline: none;
          }
        }

        select {
          width: 100%;
          text-overflow: ellipsis;
          border: 1px solid color.$neutral-soft;
          border-radius: 10px;
          padding: 7px 10px;
          font-size: 1.1rem;
        }

        input[type="text"] {
          border: 1px solid color.$neutral-soft;
          border-radius: 10px;
          padding: 7px 10px;
          font-size: 1.1rem;
        }

        label {
          margin-bottom: 5px;
        }

        input[type="submit"] {
          color: color.$white;
          background-color: color.$veue-corporate;
          border: 1px solid color.$neutral-soft;
          border-radius: 10px;
          padding: 7px 10px;
          font-size: 1.1rem;
          margin-top: 10px;
          margin-right: 0;
          display: flex;
          justify-content: center;
          cursor: pointer;

          &:disabled {
            color: color.$gray-lighter;
            background: color.$gray-light-blue;
          }
        }

        .flash-success,
        .flash-error {
          padding: 0.25rem 0.5rem;
          border-radius: 9999px;
          text-align: center;
          position: absolute;
          top: 40px;
          left: -10px;
          width: 240px;
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
          transition: all 5s ease-out;
        }

        .flash-success {
          background-color: lighten(color.$veue-corporate, 25%);
          color: darken(color.$veue-corporate, 20%);
        }

        .flash-error {
          background-color: lighten(red, 30%);
          color: darken(red, 20%);
        }
      }
    }
  }
}
.btn.copy-to-clipboard {
  &:hover {
    cursor: default;
  }
  &:active {
    background-color: color.$red-highlight;
  }
}
