@use "../utils/color";
@use "../utils/font";

#startup {
  display: flex;
  height: 100vh;
  font-weight: font.$normal-weight;
  font-size: 1.5rem;
  .browser-warning {
    display: none;
    font-size: 18px;
    padding: 5px 15px;
    border: 1px solid color.$red-light;
    color: color.$white;
    background: color.$red-highlight;
    border-radius: 10px;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    .logo {
      width: 100px;
      float: left;
      margin-right: 20px;
    }
    .welcome {
      width: 50vw;
      margin-bottom: 20px;
    }

    .checklist {
      font-size: 2rem;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      margin-bottom: 20px;
      font-weight: font.$light-weight;
      &--step {
        &--status[data-status="done"] {
          color: color.$neutral-dark;
        }

        &--status[data-status="pending"] {
          color: color.$gray-light;
        }
      }
    }

    .prompts {
      a {
        color: color.$white;
        padding: 5px 10px;
        background: color.$veue-corporate;
        border-radius: 10px;
        border: 1px solid color.$veue-corporate;
        font-size: 16px;
      }
      .next {
        a {
          cursor: pointer;
        }
      }
    }
  }
  #user-instructions-modal {
    .modal-content {
      padding: 2rem;
      .description {
        text-align: center;
      }
    }
  }
}
