// This is the broadcast layout... which is different than the main website!

@use "../utils/color";
@use "browser_bar";

body {
  margin: 0;
  height: 100vh;
  width: 100%;
}

#broadcast {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

  .content--left {
    width: 1300px;
    height: 100%;
  }
  .content--right {
    width: 320px;
    padding: 5px;

    #webcam_preview {
      width: 320px;
      height: 280px;
    }

    .debug-area {
      display: none;
      width: 100%;
      #debug_canvas {
        width: 320px;
      }

      video {
        width: 100%;
        display: none;
      }
    }
  }
}
