.pip-component{
  data: {
    controller: "audience--pip",
    target: "audience--movable-pip.pipComponent"
  },
  draggable: "true",
}
  %canvas.pip-secondary-canvas{
    "data-target": "audience-view.pipSecondaryCanvas audience--pip.canvas",
    width: 420,
    height: 340
  }
.pip-drop-quadrants
  .quadrant.top-left{data: {target: 'audience--movable-pip.topLeft'}}
  .quadrant.top-right{data: {target: 'audience--movable-pip.topRight'}}
  .quadrant.bottom-left{data: {target: 'audience--movable-pip.bottomLeft'}}
  .quadrant.bottom-right{data: {target: 'audience--movable-pip.bottomRight'}}
