.pip-component{
  data: {
    target: "audience--movable-pip.pipComponent",
    action: "dragstart->audience--movable-pip#dragStartHandler"
  },
  draggable: "true",
}
  %canvas.pip-secondary-canvas{
    "data-target": "audience-view.pipSecondaryCanvas audience--pip.canvas",
    width: 420,
    height: 340
  }
.pip-drop-quadrants
  .quadrant.top-left{data: {target: 'audience--movable-pip.topLeft', action: 'dragenter->audience--movable-pip#dragEnterHandler dragover->audience--movable-pip#dragOverHandler'}}
  .quadrant.top-right{data: {target: 'audience--movable-pip.topRight', action: 'dragenter->audience--movable-pip#dragEnterHandler dragover->audience--movable-pip#dragOverHandler'}}
  .quadrant.bottom-left{data: {target: 'audience--movable-pip.bottomLeft', action: 'dragenter->audience--movable-pip#dragEnterHandler dragover->audience--movable-pip#dragOverHandler'}}
  .quadrant.bottom-right{data: {target: 'audience--movable-pip.bottomRight', action: 'dragenter->audience--movable-pip#dragEnterHandler dragover->audience--movable-pip#dragOverHandler'}}
