.player-actions
  %a.icon.toggle-audio{data: {action: "click->audience-view#toggleAudio", target: "audience-view.audio"}}
    = svg_tag 'speaker'
  %a.active-icon.toggle-play{"data-action" => "click->audience-view#togglePlay", "data-target" => "audience-view.toggle", :title => "Toggle Play"}
    = svg_tag 'play'
  %a.icon
    = svg_tag 'settings'
