.player-actions
  %a.active-icon.toggle-play{"data-action" => "click->audience-view#togglePlay", "data-target" => "audience-view.toggle", :title => "Toggle Play"}
    = svg_tag 'play'
  .time-display
    %span{"data-target": "audience-view.timeDisplay"}

  %span.progress-bar-container{
    style: "cursor: pointer; display: flex; align-items: center; background: red; min-width: 100px; width: 80%; height: 10px; border-radius: 10px; margin-left: 10px; margin-right: auto;",
    data: {
      target: "audience--video-controls.progressBarContainer",
      action: "mousedown->audience--video-controls#handleMouseDown mouseup->audience--video-controls#handleMouseUp
               mousemove->audience--video-controls#handleMouseMove"
    }}
    %span.progress-bar{
      style: "background: blue; height: 100%; width: 100%;",
      data: { target: "audience--video-controls.progressBar", currentTime: "0", duration: "0" }
    }

    %button.progress-bar-btn{
      style: "height: 140%; width: 14px; border-radius: 9999px; padding: 0; margin: 0 0 0 -8px; background: yellow;",
      data: { target: "audience--video-controls.progressBarButton" }
    }

  .time-display
    %span{"data-target": "audience-view.timeDuration audience--video-controls.timeDuration"}

  %a.icon.toggle-audio{data: {action: "click->audience-view#toggleAudio", target: "audience-view.audio"}}
    = svg_tag 'speaker'
