
.player-controls
  %a.active-icon.toggle-play.desktop{
    "data-action" => "click->audience-view#togglePlay",
    "data-target" => "audience-view.togglePlay", :title => "Toggle Play"
  }
    = svg_tag 'play'

  .time-display
    %span{"data-target": "audience--player-controls.timeDisplay audience-view.timeDisplay"}

  %span.progress-bar-container{
    data: {
      target: "audience--player-controls.progressBarContainer",
      action: "mousedown->audience--player-controls#handleMouseDown
               mouseup->audience--player-controls#handleMouseUp
               mousemove->audience--player-controls#handleMouseMove"
    }}
    %span.progress-bar{
      data: { target: "audience--player-controls.progressBar", currentTime: "0", duration: "0" }
    }

    %button.progress-bar-btn{
      data: { target: "audience--player-controls.progressBarButton" }
    }

  .time-display
    %span{"data-target": "audience-view.timeDuration audience--player-controls.timeDuration"}

  %a.icon.toggle-audio.desktop{
    title: "Toggle Audio",
    data: {
      action: "click->audience-view#toggleAudio",
      target: "audience-view.toggleAudio"
    }
  }
    = svg_tag 'speaker'

-# Need to be duplicated and removed parent due to positioning issues with absolute
.mobile-controls
  %a.active-icon.toggle-play.mobile{"data-action" => "click->audience-view#togglePlay", "data-target" => "audience-view.togglePlay", :title => "Toggle Play"}
    = svg_tag 'play'

  %a.icon.toggle-audio.mobile{data: {action: "click->audience-view#toggleAudio", target: "audience-view.toggleAudio"}}
    = svg_tag 'speaker'

