.player-actions
  %a.active-icon.toggle-play{"data-action" => "click->audience-view#togglePlay", "data-target" => "audience-view.toggle", :title => "Toggle Play"}
    = svg_tag 'play'
  .time-display
    %span{"data-target": "audience-view.timeDisplay"}

  %span.progress-background{style: "position: relative; background: red; min-width: 100px; width: 80%; height: 10px; border-radius: 10px; margin-left: 10px; margin-right: auto;", data: { target: "audience-view.progressBarBackground"}}
    %span.progress-bar{
      style: "position: absolute; z-index: 20; background: blue; height: 100%; width: 40%;",
      data: { target: "audience-view.progressBar", currentTime: "0", duration: "0" }
    }
    %span.progress-btn{
      style: "position: absolute; z-index: 10; width: 42%; height: 100%; background: yellow; clip-path: circle(40%)",
      data: { target: "audience-view.progressBarButton" }
    }

  .time-display
    %span{"data-target": "audience-view.timeDuration"}

  %a.icon.toggle-audio{data: {action: "click->audience-view#toggleAudio", target: "audience-view.audio"}}
    = svg_tag 'speaker'
