.pin-box#products-area
  - current_video.pins.each do |pin|
    .pin
      = image_tag pin.thumbnail, alt: pin.name, class: 'pin__img'
      .button-area
        .icon-box
          = svg_tag 'heart'
        .icon-box
          = svg_tag 'bookmark'
        .icon-box
          = svg_tag 'hyperlink'