.p-1
  .streamer-profile{ data: {controller: "streamer-profile", "streamer-profile" => { "video-id" => current_video.to_param }}}
    .streamer-info
      .streamer-info__avatar
        = inline_svg_pack_tag 'media/images/user.svg'
        .streamer-name
          = current_video.user.display_name
      - if user_signed_in?
        .follow-btn{data: {action: current_video.user.followers.include?(current_user) ? "click->streamer-profile#unfollow" : "click->streamer-profile#follow"}}
          - if current_video.user.followers.include?(current_user)
            following
          - else
            follow
    .stream-info
      .stream-num
        stream # 4
      .stream-name
        high‑performance wireless earphones
