.p-1
  .streamer-profile{ data: {controller: "streamer-profile", "streamer-profile" => { "follow-streamer" => follow_streamer.to_s, "video-id" => current_video.to_param, "follow-id" => @follow.to_param }}}
    .streamer-info
      .streamer-info__avatar
        = inline_svg_pack_tag 'media/images/user.svg'
        .streamer-name
          = current_video.user.display_name
      - if user_signed_in?
        .follow-btn{data: {action: "click->streamer-profile#followStreamer"}}
          - if follow_streamer
            following
          - else
            follow
    .stream-info
      .stream-num
        stream # 4
      .stream-name
        high‑performance wireless earphones
