.channel{id: dom_id(channel)}
  .channel__name
    = channel.name
  .channel-card.card
    %a{href: channel_edit_path(channel.id), draggable: "false"}
      = channel.decorate.profile_image_circle(200)
  .channel__description
