.channel-page{
  "data": {
    "controller": "channel",
  }
}
  - if upcoming_stream?
    = render partial: "channels/videos/partials/upcoming_stream"
  - elsif current_video
    = render template: "channels/videos/show"
  - else
    = render partial: "channels/videos/partials/streamer_profile"
