.setting-tab#privacy-tab{
  data: {
    target: "user-settings.settingsTab",
    tab: "privacy"
  }
}
  .setting-tab__header
    .setting-tab__header__name{
      "data-action": "click->user-settings#openMenu"
    }
      = svg_tag "back"
      Privacy
  .setting-tab__body
    .privacy-setting
      .privacy-setting__info
        Delete Account
        .sub-info
          By deleting your account you will lose all your data
      %a.privacy-setting__action Delete Account
