.profile-tab#help-tab{
  data: {
    target: "user-profile.profileTab",
    tab: "help"
  }
}
  .profile-tab__header
    .profile-tab__header__name{
      "data-action": "click->user-profile#openMenu"
    }
      = svg_tag "back"
      Help
  .profile-tab__body
    .help-profile
      .help-profile__info
        How can we help you?
        .sub-info
          For general queries including bugs report or partnership opportunities, please email
          = mail_to 'hello@veuelive.com', 'hello@veuelive.com'
