.user-profile#privacy-tab{
  data: {
    target: "user-profile.profileTab",
    tab: "privacy"
  }
}
  .user-profile__header
    .user-profile__header__name{
      "data-action": "click->user-profile#openMenu"
    }
      = svg_tag "back"
      Privacy
  .user-profile__body
    .privacy-profile
      .privacy-profile__info
        Delete Account
        .sub-info
          By deleting your account you will lose all your data
      = link_to 'Delete Account', user_path(current_user), class: "privacy-profile__action", method: :delete, :data => {:confirm => "Are you sure to remove your account?"}
