.profile-update__field.image-field{data: { controller: "crop-image" } }
  .user-avatar
    = render partial: "users/partials/profile_image", locals: { user: @user }
    .user-avatar__info
      %div JPG, JPEG or PNG 
      %div (Max. 5 MB.)   
  .upload-image
    .upload-option
      .upload-option__button
        %input{type: "file", accept: 'image/png, image/jpg, image/jpeg', data: { target: "crop-image.imageField", action: "change->crop-image#processImage", path: upload_image_user_path(@user.id) }
        }
        %span Upload
        %span Image
      .upload-option__delete
        = svg_tag "delete-icon"
    .error-message{ "data-target": "crop-image.imageMessage" }
      Invalid Image
    .croppie-wrapper{"data-target": "crop-image.croppieWrapper"}
      .croppie-wrapper__body.crop-area{"data-target": "crop-image.croppieField"}
      .croppie-wrapper__action.crop-area
        %button.cancel-button{type: "button", "data-action": "click->crop-image#closeCropper"} Cancel
        %button{type: "button", "data-action": "click->crop-image#submitImage"} Submit
