

#videos__show, #videos__streamer {

  canvas {
    width: 100%;
    border-radius: 20px;
  }

  video {
    display: none;
  }

  .browser {
    display: flex;
    flex-direction: column;
    .browser__toolbar {
      display: flex;
      width: 100%;
      height: 2em;
      input {
        height: 2em;
        width: 100%;
      }
    }
  }
}

#videos__streamer {
  #layout-container {
    width: 1620px !important;
  }
}

// Realtime chat section
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&display=swap');
$poppins: 'Poppins', sans-serif;
$box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
$white-color: #fff;
$light-black:#0e0e0e;
$light-silver:#d8d8d8;
$light-blue: #616583;
$medium-gray: #d0d0d0;

@mixin text-style ($f-size, $color, $f-family ,$f-weight) {
  font-size: $f-size;
  color: $color;
  font-family: $f-family;
  font-weight: $f-weight;
}
@mixin grid-style ($grid, $row, $gap) {
  display: $grid;
  grid-template-columns: $row;
  grid-gap: $gap;
}

.chat-section {
  background-color: $white-color;
  padding: 1.5rem 0;
  border-top-right-radius: 0.5rem;
  width: 404px;
  position: absolute;
  right: 20px;
  .web-account-header {
    padding: 0 1.5rem;
    .account-header-grid {
      @include grid-style(grid, 50% 50%, 1%);
      align-items: center;
    }
    .account-header-profile {
      .profile-select {
        @include text-style (1rem,$light-black,$poppins, 400);
        border: none;
        -webkit-appearance: none;
        appearance: none;
      }
      .profile-img-1 {
        position: relative;
        margin-right: 0.5rem;
        top: 0.5rem;
      }
      .men-image {
        border-radius: 0.5rem;
      }
    }
    .account-bell {
      text-align: right;
    }
    .men-big-img {
      margin-top: 1rem;
      &__pic {
        width: 100%;
        border-radius: 0.5rem;
      }
    }
    .follow-section {
      box-shadow: $box-shadow;
      margin: 2rem 0;
      padding: 1rem;
      border-radius: 0.5rem;
      .follow-grid {
        @include grid-style(grid, 70% 29%, 1%);
        align-items: center;
        .follow-title {
          @include text-style (1rem,$light-black,$poppins, 400);
          margin: 0;
          .profile-follow-img {
            position: relative;
            top: 1rem;
            margin-right: 0.5rem;
          }
        }
        .follow-btn {
          background-color: $light-silver;
          border: 0;
          position: relative;
          top: 0.5rem;
          padding: 0.3rem 1.5rem;
          border-radius: 2rem;
          @include text-style (1rem,$light-black,$poppins, 400);
        }
      }
      .follow-subtitle {
        @include text-style (1rem,$light-black,$poppins, 400);
        margin-bottom: 0rem;
        padding-top: 0.5rem;
      }
      .follow-pera {
        @include text-style (1rem,$light-blue,$poppins, 400);
        margin: 0;
      }
    }
    .web-comment-section {
      margin-top: 5rem;
      .web-comment-grid {
        @include grid-style(grid, 15% 84%, 1%);
        align-items: center;
        margin-bottom: 1rem;
        .web--message {
          &__name {
            @include text-style (1rem,$medium-gray,$poppins, 400);
            margin-top: 0;
          }
          &__lable {
            background-color: $light-silver;
            padding: 0.5rem 1.5rem;
            @include text-style (1rem,$light-black,$poppins, 400);
            border-top-left-radius: 0.5rem;
            border-bottom-left-radius: 1rem;
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
            display: inline-block;
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  } 
  .web-message-write {
    border-top: 1px solid $light-silver;
    .message-write_unorder {
      margin: 0;
      padding: 1.5rem 1.5rem 0.5rem 1.5rem;
      .message-write-list {
        list-style-type: none;
        display: inline;
        margin-right: 1rem;
      }
      .message-write-link {
        text-decoration: none;
      }
    }
    .write-area {
      padding: 0 1.5rem;
      &__text {
        border: none;
        @include text-style (1rem,$light-black,$poppins, 400);
        resize: none;
      }
    }
  }
}
