.browser-bar{data: {controller: "broadcast--browser"}}
  .browser-bar__controls
    %button{data: {action: "click->broadcast--browser#goBack", target: "broadcast--browser.backButton"}}
      = svg_tag "back"
    %button{data: {action: "click->broadcast--browser#goForward", target: "broadcast--browser.forwardButton"}}
      = svg_tag "forward"
    %button{data: {action: "click->broadcast--browser#doReload", target: "broadcast--browser.reloadButton"}}
      ↻
    %button{data: {action: "click->broadcast--browser#stopLoading", target: "broadcast--browser.stopButton"}}
      ✕
  .browser-bar__address
    %input{type: "text", value: "https://apple.com", data: {action: "keypress->broadcast--browser#onKeypress", target: "broadcast--browser.addressBar"}}
  .browser-bar__button
    %button{data: {showOnState: "starting"}} Starting...
    %button{data: {showOnState: "failed"}} Connection Error
    %button{data: {showOnState: "finished"}} Broadcast Complete
    %button{data: {action: "click->broadcast#startStreaming", showOnState: "ready"}} Start Broadcast
    %button{data: {action: "click->broadcast#stopStreaming", showOnState: "live"}} Stop Broadcast
    %button.time-area{data: {showOnState: "live"}}
      %span.dot.time-dot
      %span#timecodeDisplay
        \-:-:-