.broadcast-controls{ data: { controller: "broadcast--controls" }}
  .broadcast-controls__title
    %input#title.title_input{ placeholder: "Enter broadcast title", value: current_broadcast_video.title, data: { target: "broadcast--controls.titleInput", action: "keyup->broadcast--controls#saveTitle"}}
    %span{ data: { target: "broadcast--controls.loading"}}
      = svg_tag "loading-animation"
  .broadcast-controls__visibility#visibility
    %select#select-visibility{ data: { target: "broadcast--controls.visibility", action: "change->broadcast--controls#updateVisibility" }}
      - Video.visibilities_legend.map do |value, text|
        %option{value: value}
          = text
