.title-area{data: { controller: "broadcast--title" }}
  %label.visually-hidden{ for: "title" }

  - values = { type: "text", name: "title", value: "", placeholder: "Title your broadcast!" }
  - size = { maxlength: 240, size: "60" }
  - data = { data: { action: "keydown->broadcast--title#doSubmit" }}
  %input{ values.merge(size).merge(data) }



