#user-instructions-modal{data: {target: "broadcast--startup.userInstructionsModal", action: "click->broadcast--startup#hideModal"}, style: "display: none;"}
  .modal
    .modal-skirt
    .modal-content
      .modal-image
        = svg_tag 'logo'
      .description
        You need to provide permissions to application from system preferences pane.
