#broadcast{data: {controller: "broadcast", broadcast: {"stream-key": current_user.mux_stream_key, "video-state": current_broadcast_video.state}}}
  .content--left
    = render partial: "browser_bar"
  .content--right
    %video#webcam_preview{data: {target: "broadcast.webcamVideoElement"}}
    .broadcast-commands
      .btn-add{data: {action: "click->broadcast#pinPage"}}= svg_tag "add"
    .debug-area
