#broadcast{data: {controller: "broadcast", broadcast: {"stream-key": current_user.mux_stream_key, "video-state": current_broadcast_video.state, "session-token": current_session_token.uuid}, "video-id": current_broadcast_video.id}}
  .content-area
    .content--left
      = render partial: "browser_bar"
    .content--right
      %video#webcam_preview{data: {target: "broadcast.webcamVideoElement"}}
      .broadcast-commands
        .btn{data: {action: "click->broadcast#pinPage"}}= svg_tag "add"
        .btn{data: {controller: "broadcast--media-manager", action: "click->broadcast--media-manager#showHideMenu", "broadcast--media-manager": {"type": "audio"}}}
          = svg_tag "speaker"
        .btn{data: {controller: "broadcast--media-manager", action: "click->broadcast--media-manager#showHideMenu", "broadcast--media-manager": {"type": "video"}}}
          = svg_tag "cam"
      .debug-area
      = render partial: "shared/chat", locals: { video: current_broadcast_video}
