#broadcast{data: {controller: "broadcast", broadcast: {"stream-key": current_user.stream_key}}}
  .content--left
    .video-bar
      .video-bar__address
        %input{type: "text", data: {controller: "address-bar", action: "keypress->address-bar#onKeypress", target: "address-bar.addressBar"}, list: "datalist-sites"}
        %datalist#datalist-sites
          %option https://apple.com
          %option https://revolve.com
          %option https://sonos.com

        .upload
          = svg_tag 'hyperlink', class: 'upload__file', alt: 'File'
      .video-bar__button
        %button{data: {action: "click->broadcast#startStreaming", showOnState: "ready"}} Start Broadcast
        %button{data: {action: "click->broadcast#stopStreaming", showOnState: "live"}} Stop Broadcast
        %button.time-area{data: {showOnState: "live"}}
          %span.dot.time-dot
          \-:-:-
  .content--right
    %video#webcam_preview{data: {target: "broadcast.webcamVideoElement"}}
    .debug-area
      %canvas#debug_canvas{width: 1280, height: 1280, data: {target: "broadcast.debugCanvas"}}
