#broadcast{data: {controller: "broadcast", broadcast: {"stream-key": current_user.mux_stream_key, "video-state": current_broadcast_video.state}}}
  .content--left
    .video-bar
      .video-bar__address
        %input{type: "text", value: "https://apple.com", data: {controller: "broadcast--address-bar", action: "keypress->broadcast--address-bar#onKeypress", target: "broadcast--address-bar.addressBar"}}
      .video-bar__button
        %button{data: {action: "click->broadcast#startStreaming", showOnState: "ready"}} Start Broadcast
        %button{data: {action: "click->broadcast#stopStreaming", showOnState: "live"}} Stop Broadcast
        %button.time-area{data: {showOnState: "live"}}
          %span.dot.time-dot
          %span#timecodeDisplay
            \-:-:-
  .content--right
    %video#webcam_preview{data: {target: "broadcast.webcamVideoElement"}}
    .debug-area
