@use "menu_shared" as *;
@use "../utils/breakpoints" as *;
@use "../utils/color";

#users__edit {
  .profile-menu {
    &__text {
      padding: 0 10px;
    }
    li:last-of-type {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      @include large() {
        display: none;
      }
    }
    @include large() {
      .active {
        background-color: color.$veue-corporate;
        a,
        a:hover,
        a:visited {
          color: color.$white;
        }
      }
    }
    &__item {
      border-radius: 10px;
    }
    @include menuStyling;
  }
}
