@use "../utils/breakpoints" as *;
@use "../utils/color";
@use "edit_header_shared" as *;
@use "edit_body_shared" as *;

#users__edit {
  .user-profile {
    display: none;
    &__header {
      height: 34px;
      @include headerStyles;
    }

    &__body {
      margin-top: 20px;

      // moving to mixing
      @include bodyStyles;

      &__field {
        &__input {
          .user-avatar {
            display: flex;
            align-items: center;
            .profile-image {
              * {
                width: 64px;
                height: 64px;
              }
            }
          }
          @include uploadImageStyles;
        }
      }

      .privacy-profile {
        @include large() {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        &__info {
          color: color.$neutral-dark;
          .sub-info {
            font-size: 14px;
            color: color.$neutral-middle;
          }
        }
        &__action {
          @include smallTall {
            display: inline-block;
            margin-top: 20px;
          }
          padding: 7px 15px;
          background-color: color.$neutral-background;
          color: color.$neutral-regular;
          border-radius: 10px;
        }
      }

      .help-profile {
        &__info {
          color: color.$neutral-dark;
          .sub-info {
            color: color.$neutral-middle;
            &__link {
              color: color.$veue-corporate;
            }
          }
        }
      }
    }
    @include editFooterStyles;
  }
}
