@use "../utils/breakpoints" as *;
@use "../utils/color";

#users__edit {
  .user-profile {
    display: none;
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 34px;
      &__name {
        display: flex;
        align-items: center;
        font-size: 20px;
        font-family: "Poppins", Helvetica, Sans-Serif, serif;
        svg {
          width: 12px;
          margin-right: 12px;
          @include large() {
            display: none;
          }
        }
      }
      &__actions {
        display: flex;
        align-items: center;
        font-size: 15px;
        @include smallTall() {
          display: none;
        }
        .action-link {
          margin-right: 20px;
          color: color.$neutral-regular;
        }
        .action-button {
          padding: 7px 15px;
          color: color.$white;
          border-radius: 10px;
        }
      }
    }
    &__body {
      margin-top: 20px;
      background-color: color.$white;
      border-radius: 10px;
      padding: 22px;
      .profile-update {
        @include smallTall {
          margin-top: 20px;
        }
        @include large() {
          display: flex;
          justify-content: space-between;
          padding: 10px 0;
        }
        &__heading {
          @include large() {
            width: 30%;
          }
          .heading-info {
            font-size: 14px;
            color: color.$neutral-middle;
          }
        }
        &__field {
          padding-top: 10px;
          @include large() {
            width: 70%;
            padding-top: 0;
          }
          input {
            height: 34px;
            &:disabled {
              background-color: color.$neutral-background;
            }
          }
          textarea {
            height: 102px;
            resize: none;
          }
          .input-field {
            width: 100%;
            border-radius: 10px;
            padding: 8px;
            box-sizing: border-box;
            border: 1px solid color.$neutral-soft;
            color: color.$neutral-regular;
            outline: none;
            font-size: 1rem;
          }
          .user-avatar {
            display: flex;
            align-items: center;
            .profile-image {
              * {
                width: 64px;
                height: 64px;
              }
            }
            &__info {
              margin-left: 20px;
              font-size: 13px;
              color: color.$neutral-regular;
            }
          }
          .upload-image {
            .upload-option {
              display: flex;
              align-items: center;
              &__button {
                border-radius: 10px;
                color: color.$veue-corporate;
                padding: 6px 10px;
                border: 1px solid color.$veue-corporate;
                height: fit-content;
                position: relative;
                @include smallTall() {
                  :last-child {
                    display: none;
                  }
                }
                input[type="file"] {
                  position: absolute;
                  width: 100%;
                  opacity: 0;
                  top: 0;
                  left: 0;
                  cursor: pointer;
                }
                input[type="file"]::-webkit-file-upload-button {
                  cursor: pointer;
                }
              }
              &__delete {
                display: flex;
                align-items: center;
                padding: 12px;
                background-color: color.$neutral-background;
                margin-left: 10px;
                border-radius: 10px;
                cursor: pointer;
              }
            }
            .croppie-wrapper {
              position: fixed;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              display: none;
              z-index: 1;
              background-color: rgba(0, 0, 0, 0.4);
              flex-direction: column;
              justify-content: center;
              &__body {
                max-width: 300px;
                padding: 1rem;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
              }
              &__action {
                width: 300px;
                padding: 0 1rem 1rem;
                display: flex;
                justify-content: space-evenly;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                button {
                  min-width: 100px;
                }
                .cancel-button {
                  color: color.$neutral-regular;
                  background-color: transparent;
                }
              }
              .crop-area {
                max-height: 350px;
                background-color: color.$white;
                margin: 0 auto;
              }
            }
          }
          .error-message {
            color: color.$red-highlight;
            font-size: 12px;
            display: none;
          }
        }
        .image-field {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
      .privacy-profile {
        @include large() {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        &__info {
          color: color.$neutral-dark;
          .sub-info {
            font-size: 14px;
            color: color.$neutral-middle;
          }
        }
        &__action {
          @include smallTall {
            display: inline-block;
            margin-top: 20px;
          }
          padding: 7px 15px;
          background-color: color.$neutral-background;
          color: color.$neutral-regular;
          border-radius: 10px;
        }
      }
      .help-profile {
        &__info {
          color: color.$neutral-dark;
          .sub-info {
            color: color.$neutral-middle;
            &__link {
              color: color.$veue-corporate;
            }
          }
        }
      }
    }
    &__footer {
      padding: 20px 0;
      @include large() {
        display: none;
      }
      button {
        width: 100%;
        height: 34px;
      }
      div {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        color: color.$neutral-regular;
      }
    }
  }
}
