/ Begin Mailchimp Signup Form
.content
  %form{:action => "https://veuelive.us10.list-manage.com/subscribe/post?u=d75108d414522fb615e1db0b1&id=754e710071", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
    #mc_embed_signup_scroll
      %div
        .input-control
          %input#mce-EMAIL.required.email{:name => "EMAIL", :placeholder => "Email", :type => "email", :value => ""}/
        .input-control
          %input#mce-FNAME{:name => "FNAME", :placeholder => "First Name", :type => "text", :value => ""}/
        .input-control
          %input#mce-LNAME{:name => "LNAME", :type => "text", :value => "", placeholder: "Last Name"}/
      
      .content-no-padding
        %strong Would you be interested in learning more about being a content creator on our platform?
        .row
          .form-ext-control.form-ext-radio.col-4
            %input.form-ext-input#mce-CONTENTINT-0{:name => "CONTENTINT", :type => "radio", :value => "Yes!"}/
            %label.form-ext-label{:for => "mce-CONTENTINT-0"} Yes!
          .form-ext-control.form-ext-radio.col-4
            %input.form-ext-input#mce-CONTENTINT-1{:name => "CONTENTINT", :type => "radio", :value => "I'd rather watch others"}/
            %label.form-ext-label{:for => "mce-CONTENTINT-1"} I'd rather watch others.
      .content-no-padding
        %strong What sort of products get you excited?
        .content.row
          .col-4
            %input{:id => "mce-group[13961]-13961-0", :name => "group[13961][1]", :type => "checkbox", :value => "1"}/
            %label{:for => "mce-group[13961]-13961-0"} Women's Fashion
          .col-4
            %input{:id => "mce-group[13961]-13961-1", :name => "group[13961][2]", :type => "checkbox", :value => "2"}/
            %label{:for => "mce-group[13961]-13961-1"} Men's Fashion
          .col-4
            %input{:id => "mce-group[13961]-13961-2", :name => "group[13961][4]", :type => "checkbox", :value => "4"}/
            %label{:for => "mce-group[13961]-13961-2"} Kid's Fashion
          .col-4
            %input{:id => "mce-group[13961]-13961-3", :name => "group[13961][8]", :type => "checkbox", :value => "8"}/
            %label{:for => "mce-group[13961]-13961-3"} Sports Equipment
          .col-4
            %input{:id => "mce-group[13961]-13961-4", :name => "group[13961][16]", :type => "checkbox", :value => "16"}/
            %label{:for => "mce-group[13961]-13961-4"} Software
          .col-4
            %input{:id => "mce-group[13961]-13961-5", :name => "group[13961][32]", :type => "checkbox", :value => "32"}/
            %label{:for => "mce-group[13961]-13961-5"} Boardgames
          .col-4
            %input{:id => "mce-group[13961]-13961-6", :name => "group[13961][64]", :type => "checkbox", :value => "64"}/
            %label{:for => "mce-group[13961]-13961-6"} Home Decor
          .col-4
            %input{:id => "mce-group[13961]-13961-7", :name => "group[13961][128]", :type => "checkbox", :value => "128"}/
            %label{:for => "mce-group[13961]-13961-7"} Furniture
          .col-4
            %input{:id => "mce-group[13961]-13961-8", :name => "group[13961][256]", :type => "checkbox", :value => "256"}/
            %label{:for => "mce-group[13961]-13961-8"} Shoes
          .col-4
            %input{:id => "mce-group[13961]-13961-9", :name => "group[13961][512]", :type => "checkbox", :value => "512"}/
            %label{:for => "mce-group[13961]-13961-9"} Antiques
          .col-4
            %input{:id => "mce-group[13961]-13961-10", :name => "group[13961][1024]", :type => "checkbox", :value => "1024"}/
            %label{:for => "mce-group[13961]-13961-10"} Audio Equipment
          .col-4
            %input{:id => "mce-group[13961]-13961-11", :name => "group[13961][2048]", :type => "checkbox", :value => "2048"}/
            %label{:for => "mce-group[13961]-13961-11"} Appliances
          .col-4
            %input{:id => "mce-group[13961]-13961-12", :name => "group[13961][4096]", :type => "checkbox", :value => "4096"}/
            %label{:for => "mce-group[13961]-13961-12"} Kitchen Equipment
      #mce-responses.clear
        #mce-error-response.response{:style => "display:none"}
        #mce-success-response.response{:style => "display:none"}
      / real people should not fill this in and expect good things - do not remove this or risk form bot signups
      %div{"aria-hidden" => "true", :style => "position: absolute; left: -5000px;"}
        %input{:name => "b_d75108d414522fb615e1db0b1_754e710071", :tabindex => "-1", :type => "text", :value => ""}/
      .u-text-center
        .btn-container
          %input.btn-primary.btn-animated{:name => "subscribe", :type => "submit", :value => "Subscribe"}/
/ End mc_embed_signup
