
%section.section
  .content.u-text-center
    %h1.title VEUE
    %h3 discover products– together
    .divider
    %p Enter Your Email Below To Get Launch Updates
  .content-no-padding
    = render partial: "mailchimp_form"