.container
  .top
    .logo
      = svg_tag "logo"
      .text VEUE
    .email= mail_to("hello@veuelive.com", "hello@veuelive.com")
  .content
    .video
      %video{src: "https://veue-production.s3.amazonaws.com/loop.mp4", muted: true, autoplay: true, playsinline: true, controls: false, loop: true, alt: "Video of two women talking to their computers."}
  .bottom
    STAY TUNED.
    = svg_tag "logo-clip"