@font-face {
    font-family: 'bebas';
    src: url('/fonts/BebasNeue-Regular.eot'), url('/fonts/BebasNeue-Regular.woff2') format('woff2') ;
    /* src: url('/fonts/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'); */
} 

h1 {
    font-family: 'bebas', sans-serif;
    font-size: 70px;
}