// Place all the styles related to the VelvetRope controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1.title {
    font-size: 20rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

h3 {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.text-forms {
    display: flex;
    flex-wrap: wrap;

    & > div {
        flex: 1;
        padding: 10px;
        // max-width: 40vw;
        min-width: 200px;
    }
}