@use "../utils/color";
@use "../utils/font";
@use "../utils/z_index";
@use "../utils/keyframes";
@use "../utils/breakpoints" as *;

#video-show,
#upcoming-stream {
  .profile-area {
    position: relative;
  }

  .channel-bar {
    box-sizing: border-box;

    * {
      box-sizing: border-box;
    }
    border-radius: 0;
    padding: 5px;
    border-top: 1px solid color.$neutral-accents;
    border-bottom: 1px solid color.$neutral-accents;
    z-index: z_index.$channel-bar;
    top: 0px;
    overflow: hidden;
    width: stretch;
    animation: toZeroTop ease 0.3s;

    &__info {
      width: inherit;

      &__text__about {
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &__mobile__about {
        display: none;
      }

      &__follow__count {
        display: none;
      }

      &__follow {
        padding-right: 5px;
      }

      &__avatar {
        img,
        svg,
        a {
          width: 40px;
          height: 40px;
        }
      }
    }

    @include smallTall() {
      margin: 15px 10px;

      position: absolute;

      &.hide-element {
        top: -80px;
        animation: reduceTop ease 0.3s;
      }

      &__info {
        &__follow {
          padding: 0px;
          margin: 0px;
        }

        &__mobile__about {
          display: block;
        }

        &__text {
          margin: 0px;
          overflow: hidden;
        }

        &__avatar {
          margin: 0 10px 0 0;

          &__host {
            display: none;
          }
        }
      }
    }

    @include smallWide() {
      position: absolute;
      padding: 15px 10px;
      height: 40px;

      &__info {
        &__follow {
          padding: 0px;
          margin: 0px;
        }

        &__mobile__about {
          display: block;
        }

        &__text {
          margin: 0px;
        }

        &__avatar {
          margin: 0 10px 0 0;
        }
      }
    }

    @include large() {
      margin-top: 0;
      background: color.$white;
      border-radius: 0 0 10px 10px;
      padding: 0;

      .channel-bar__info {
        &__follow__count {
          display: flex;
        }

        &__avatar {
          img,
          svg {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }
}
