@use "../utils/color";

body#videos__show {
  .primary-video__header {
    display: flex;
    height: 3rem;
    background: color.$white;
    font-size: 0.8rem;
    &__address_bar {
      color: color.$gray-dark;
      flex: 1;
      font-size: 1rem;
      border: 1px solid color.$gray-light;
    }

    > * {
      border-radius: 0.99rem;
      margin: 0.4rem;
      padding: 0 1rem 0 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .widget {
      background: color.$gray-light;
      display: flex;
      flex-direction: row;
      align-items: center;

      .icon {
        height: 14px;
        margin-right: 0.5rem;
      }

      &.red {
        background: color.$red-highlight;
        color: color.$white;
      }
    }
  }
}
