@use "../utils/color";
@use "../utils/font";
@use "../utils/breakpoints" as *;
@use "../utils/z_index";

#video-show {
  .video-header {
    position: absolute;
    z-index: z_index.$video-controls;
    left: 10px;
    top: 10px;
    height: 28px;
    display: flex;

    @include large() {
      border-radius: 10px 10px 0 0;
      margin-top: 0;
    }

    &__address_bar {
      color: color.$gray-dark;
      flex: 1;
      font-size: 1rem;
      border: 1px solid color.$gray-light;
      min-width: 0;

      #address-input {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-overflow-ellipsis: color.$gray-light;
        max-width: 500px;
      }

      #not-started-notification {
        background-color: color.$gray-dark;
        color: color.$white;
      }
    }

    > * {
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    .widget {
      background: rgba(color.$black, 0.5);
      color: color.$white;
      border-radius: 10px;
      font-size: 1.1rem;
      cursor: pointer;
      height: 28px;
      width: 65px;
      margin-left: 5px;
      justify-content: center;

      .icon {
        height: 11.96px;
        margin-right: 0.5rem;
        magin-left: 5px;
        display: flex;
        svg {
          path {
            fill: color.$white;
          }
        }
      }

      #active-viewers {
        font-size: 13px;
        font-weight: 400;
        font-family: font.$nunito;
        color: color.$white;
      }

      &.live {
        background: color.$red-highlight;
        color: color.$white;
        font-weight: font.$heavy-weight;
        display: flex;
        width: 48px;

        & > .widget-live__desktop {
          font-size: 13px;
          font-weight: 700;
          font-family: font.$nunito;
          @include large() {
            font-size: 14px;
          }
        }
      }
    }

    .replay-badge {
      background: color.$veue-corporate;
      color: color.$white;
      font-weight: font.$heavy-weight;
      position: relative;
      height: 28px;
      width: 70px;

      &__text {
        font-size: 13px;
        font-weight: 700;
        font-family: font.$nunito;
        @include large() {
          font-size: 14px;
        }
      }

      .badge-message {
        display: none;
        text-align: center;
        position: absolute;
        left: -50px;
        top: 42px;
        background: color.$neutral-darker;
        z-index: z_index.$tool-tip;

        @include smallTall() {
          left: -107px;
        }

        &__body {
          position: fixed;
          padding: 0.65rem 1rem;
          border-radius: 10px;
          background-color: color.$neutral-darker;
          max-width: 160px;

          &:before {
            position: absolute;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 8px solid color.$neutral-darker;
            content: "";
            left: 86px;
            top: -5px;
            @include smallTall() {
              transform: translate(350%, 0);
            }
          }
        }
      }
    }
  }
}
