@use "../utils/breakpoints" as *;

body#videos__show {
  /**
  Put any main responsive layout code for ONLY desktop here... this does not count elements that scale to their
  surroundings
   */
  @include desktop() {
    .content-area {
      flex-direction: row;
      display: flex;
      justify-content: flex-end;

      .content-area__primary {
        flex: 1;
        overflow: scroll;

        &::-webkit-scrollbar {
          display: none;
        }

        height: 100%;
        max-width: 1280px;
        margin-left: 1vw;
      }

      > div {
        border-radius: 0.75rem;
      }

      .content-area__secondary {
        margin: 0 1vw 0 1vw;
        background: white;
        max-width: 20vw;
        display: flex;
        flex-direction: column;
      }

      canvas.pip-secondary-canvas {
        display: none;
      }
    }
  }

  /**
    This is the primary Video layout for portrait mobile views
     */
  @include mobilePortrait() {
    #layout-container {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }

    height: 100%;

    .content-area {
      flex-direction: column;
      align-items: center;
    }

    .content-area__primary,
    .primary-video-area,
    .content-area__secondary {
      width: 100vw;
    }
    canvas.fixed-secondary-canvas {
      // We don't want to show the fixed canvas when we are in a small view
      display: none;
    }
    // Most of the code for PIP is inside of a separate file

    .pip-component canvas {
      width: 25vw;
    }
    .pip-component {
      position: absolute;

      &[data-corner-position="bottom-right"] {
        bottom: 2vw;
        right: 2vw;
      }

      &[data-corner-position="bottom-left"] {
        bottom: 2vw;
        left: 2vw;
      }

      &[data-corner-position="top-left"] {
        top: 2vw;
        left: 2vw;
      }

      &[data-corner-position="top-right"] {
        top: 2vw;
        right: 2vw;
      }
    }

    .pip-drop-quadrants {
      .quadrant {
        width: 49%;
        height: 49%;
        position: absolute;
        &.bottom-left {
          bottom: 0;
          left: 0;
        }

        &.top-left {
          top: 0;
          left: 0;
        }

        &.top-right {
          top: 0;
          right: 0;
        }

        &.bottom-right {
          bottom: 0;
          right: 0;
        }
      }
    }

    // Hide some stuff on the page when we're mobile and writing a chat
    &[data-keyboard="visible"] {
      .content-area__primary,
      .top-navbar {
        display: none;
      }

      #layout-container {
        //  height: 100%;
        bottom: 270px;
      }
    }

    .streamer-profile {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .content-area__secondary {
      display: flex;
      height: 100%;

      .chat-section {
        div,
        textarea {
          font-size: 1rem;
        }
      }
    }
  }

  @include mobileLandscape() {
    #main-container {
      height: -webkit-fill-available;
    }

    .content-area {
      flex-direction: row;
      display: flex;
      justify-content: flex-end;
    }

    .content-area__primary {
      padding-left: env(safe-area-inset-left);
      flex: 1;

      .primary-video-area {
        max-height: calc(min(100vh, -webkit-fill-available));
      }
    }

    .content-area__secondary {
      padding: env(safe-area-inset-top) calc(env(safe-area-inset-right) * 0.75)
        0 1vw;
      background: white;
      max-width: 20vw;
      display: flex;
      flex-direction: column;
    }

    .top-navbar,
    .primary-video__header {
      display: none;
    }

    .chat-section {
      font-size: calc(min(0.65rem, 5vh));
    }

    .streamer-profile {
      display: none;
    }

    canvas.pip-secondary-canvas {
      display: none;
    }
  }
}
