@use '../utils/color';
@use '../utils/reactions';
@use '../utils/z_index';

.like-notification {
  position: relative;
  z-index: z_index.$default;
  .user-reaction {
    top: 0;
    position: absolute;
    left: 10px;
    border-radius: 10px;
    color: color.$white;
    background-color: color.$veue-corporate;
    animation: top 3s ease;
    height: 34px;
    .content {
      border-radius: 10px;
      display: inline-flex;
      padding: 0 0.75rem;
    }
    img {
      animation: beating 3s;
    }
    &__text {
      margin: 5px 0px 5px 10px;
    }
  }
}
