@use '../utils/color';
@use '../utils/reactions';

.like-notification {
  position: relative;
  .user-reaction {
    top: 0;
    position: absolute;
    left: 1rem;
    padding: 0.5rem;
    height: 23px;
    border-radius: 0.75rem;
    color: color.$white;
    background-color: color.$veue-corporate;
    align-items: center;
    animation: top 6s ease;
    .content {
      display: flex;
    }
    img {
      animation: beating 5s;
    }
    &__text {
      margin-left: 0.5rem;
    }
  }
}
