@use "../utils/breakpoints" as *;
@use '../utils/color';
@use '../utils/z_index';

@mixin vod {
  &[data-audience-view-stream-type="vod"] {
    @content;
  }
}

#video-show {
  .primary-video {
    &__overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: color.$black;
      opacity: 0.2;
      z-index: z_index.$video-overlay;
      top: 0;

      @include smallWide() {
        border-radius: 10px 10px 0 0;
      }
    }

    @include large() {
      &__overlay {
        display: none;
      }
    }
  }

  .hide-controls {
    @include smallWide() {
      .primary-video__overlay,
      .player-controls-area {
        display: none;
      }
    }

    @include smallTall() {
      .primary-video__overlay,
      .player-controls-area {
        display: none;
      }
    }
  }

  .primary-video:hover,
  &[data-audience--player-controls-audio-state="muted"] {
    .player-controls {
      @include large() {
        opacity: 1;
      }
    }
  }

  .player-controls,
  .mobile-controls {
    z-index: z_index.$video-controls;

    a {
      margin: 0 0.25rem;
      border-radius: 0.65rem;
      display: flex;
      align-items: center;
      cursor: pointer;

      svg {
        fill: white;
        width: 15px;
        height: 14px;
        color: color.$white;
      }

      img {
        width: 15px;
        height: 14px;
      }
    }

    .toggle-play,
    .toggle-audio {
      display: flex;
      justify-content: center;
      flex: 0 0 auto;
    }

    // Makes the play button appear centered by nudging it 2px to the right

    .toggle-audio {
      background-color: rgba(color.$light-black, 0.5);
    }

    .active-icon {
      background-color: color.$veue-corporate;
      opacity: 1;
    }
  }

  .player-controls {
    height: 34px;
    opacity: 1;
    color: white;
    transition: 100ms opacity;
    border-radius: 10px;
    background-color: rgba(color.$black, 0.5);
    position: absolute;
    bottom: 0;
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%);
    align-items: center;

    @include large() {
      padding: 8px;
      border-radius: 16px;
      height: inherit;
      opacity: 0;
    }

    .time-display {
      display: none;
      font-size: 13px;
      padding: 0 10px;

      @include large() {
        text-align: center;
        margin: 0 5px;
        min-width: 70px;
        padding: 0;
        font-size: 14px;
      }
    }

    .progress-bar-container {
      cursor: pointer;
      position: relative;
      display: none;
      align-items: center;
      background: color.$neutral-soft;
      min-width: 100px;
      width: 80%;
      height: 10px;
      border-radius: 10px;
      margin: 0 auto;
    }

    .progress-bar {
      background: color.$veue-corporate;
      border-radius: 10px;
      height: 100%;
      width: 100%;
    }

    .progress-bar-btn {
      padding: 0;
      margin: 0;
      height: 1rem;
      width: 1rem;
      border-radius: 9999px;
      margin-left: -8px;
      background: color.$white;
      box-shadow: color.$box-shadow;
    }

    .progress-bar__video-preview,
    .progress-bar__time-preview {
      // layout
      position: absolute;
      z-index: z_index.$video-controls;

      // style
      opacity: 0.9;
      border-radius: 10px;
    }

    .progress-bar__time-preview {
      // layout
      padding: 0.2rem 0.4rem;

      // style
      background: rgba(0, 0, 0, 0.7);
      color: white;
    }

    .progress-bar__video-preview {
      position: absolute;

      box-shadow: color.$box-shadow;

      // Assumed 16:9 ratio, has to be a fixed h/w since its absolutely positioned.
      height: 112px;
      width: 200px;
      border-radius: 10px;
      background: rgba(0, 0, 0, 0.25);

      &__image {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        object-fit: fill;
        border-radius: 10px;
      }
    }

    .progress-background {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .mobile-controls {
    opacity: 1;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);

    .toggle-play.mobile,
    .toggle-audio.mobile {
      display: flex;
      opacity: 1;
      height: 40px;
      width: 41px;
      img {
        width: 19px;
        height: 14px;
      }
    }
  }

  @mixin mobile-css {
    .toggle-audio.desktop,
    .toggle-play.desktop {
      display: none;
    }

    .player-controls {
      display: none;
    }

    @include vod {
      .player-controls {
        display: flex;
      }
    }
  }

  @include vod {
    .progress-bar-container {
      display: flex;
    }
  }

  @include smallWide() {
    @include mobile-css;
  }

  @include smallTall() {
    @include mobile-css;
  }

  @include vod {
    .player-controls {
      width: 96%;

      @include large() {
        width: 80%;
      }
    }

    .time-display {
      display: block;
    }
  }

  @include large() {
    @include vod {
      .toggle-audio.desktop,
      .toggle-play.desktop {
        margin: 0;
        width: 41px;
        height: 41px;
      }
    }

    .mobile-controls {
      display: none;
    }

    .toggle-audio.desktop,
    .toggle-play.desktop {
      display: flex;
      margin: 0 0.2rem;
    }
  }
}
