@use "../utils/breakpoints" as *;
@use '../utils/color';

#videos__show {
  .primary-video-area:hover .player-controls {
    opacity: 0.8;
  }

  .player-controls,
  .mobile-controls {
    a {
      margin: 0 0.25rem;
      padding: 0.65rem 0.75rem;
      border-radius: 0.65rem;
      display: flex;
      align-items: center;
      cursor: pointer;

      svg {
        fill: white;
        width: 15px;
        height: 14px;
        color: color.$white;
      }

      img {
        width: 15px;
        height: 14px;
      }
    }

    .toggle-play,
    .toggle-audio {
      display: flex;
      justify-content: center;
      padding: 10px;
      flex: 0 0 auto;
    }

    .toggle-play.play {
      padding-right: 8px;
    }

    .toggle-audio {
      background-color: color.$light-black;
    }

    .active-icon {
      background-color: color.$cornflower;
      opacity: 1;
    }
  }

  .player-controls {
    padding: 0.5rem 0.75rem;
    // CHANGE THIS BACK TO 0
    opacity: 1;
    color: white;
    transition: 100ms opacity;
    border-radius: 1rem;
    background-color: #383838;
    position: absolute;
    bottom: 0;
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%);
    align-items: center;
    width: 80%;

    .time-display {
      text-align: center;
      font-size: 14px;
      margin: 0 10px;
      min-width: 70px;
      padding: 0;
    }

    .progress-bar-container {
      cursor: pointer;
      display: flex;
      align-items: center;
      background: color.$gray-medium-1;
      min-width: 100px;
      width: 80%;
      height: 10px;
      border-radius: 10px;
      margin: 0 auto;
    }

    .progress-bar {
      background: color.$veue-corporate;
      border-radius: 10px;
      height: 100%;
      width: 100%;
    }

    .progress-bar-btn {
      padding: 0;
      margin: 0;
      height: 1rem;
      width: 1rem;
      border-radius: 9999px;
      margin-left: -8px;
      background: color.$white;
      box-shadow: color.$box-shadow;
    }

    .progress-background {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .mobile-controls {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);

    .toggle-play.mobile,
    .toggle-audio.mobile {
      display: flex;
      opacity: 0.8;
      height: 1.8rem;
      width: 1.8rem;
    }

    .toggle-play.mobile {
      border: 2px solid white;
    }

    .toggle-audio.mobile {
      border: 2px solid white;
    }
  }

  @include mobilePortrait() {
    .toggle-audio.desktop,
    .toggle-play.desktop {
      display: none;
    }
  }

  @include desktop() {
    .mobile-controls {
      display: none;
    }

    .toggle-audio.desktop,
    .toggle-play.desktop {
      display: flex;
    }
  }
}
