@use "../utils/breakpoints" as *;
@use '../utils/color';

#videos__show {
  .primary-video-area:hover {
    .player-controls,
    .mobile-controls {
      opacity: 1;
    }
  }

  .player-controls,
  .mobile-controls {
    a {
      margin: 0 0.25rem;
      padding: 0.65rem 0.75rem;
      border-radius: 0.65rem;
      display: flex;
      align-items: center;
      cursor: pointer;

      svg {
        fill: white;
        width: 15px;
        height: 14px;
        color: color.$white;
      }

      img {
        width: 15px;
        height: 14px;
      }
    }

    .toggle-play,
    .toggle-audio {
      display: flex;
      justify-content: center;
      padding: 10px;
      flex: 0 0 auto;
    }

    // Makes the play button appear centered by nudging it 2px to the right
    .toggle-play.play {
      padding-left: 11px;
      padding-right: 9px;
    }

    .toggle-audio {
      background-color: rgba(color.$light-black, 0.5);
    }

    .active-icon {
      background-color: color.$cornflower;
      opacity: 1;
    }
  }

  .player-controls {
    opacity: 0;
    color: white;
    transition: 100ms opacity;
    border-radius: 1rem;
    background-color: rgba(color.$black, 0.5);
    position: absolute;
    bottom: 0;
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%);
    align-items: center;

    .time-display {
      text-align: center;
      font-size: 14px;
      margin: 0 5px;
      min-width: 70px;
      padding: 0;
    }

    .progress-bar-container {
      cursor: pointer;
      display: flex;
      align-items: center;
      background: color.$neutral-middle;
      min-width: 100px;
      width: 80%;
      height: 10px;
      border-radius: 10px;
      margin: 0 auto;
    }

    .progress-bar {
      background: color.$veue-corporate;
      border-radius: 10px;
      height: 100%;
      width: 100%;
    }

    .progress-bar-btn {
      padding: 0;
      margin: 0;
      height: 1rem;
      width: 1rem;
      border-radius: 9999px;
      margin-left: -8px;
      background: color.$white;
      box-shadow: color.$box-shadow;
    }

    .progress-background {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .mobile-controls {
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);

    .toggle-play.mobile,
    .toggle-audio.mobile {
      display: flex;
      opacity: 1;
      height: 20px;
      width: 21px;
      img {
        width: 17px;
        height: 16px;
      }
    }
  }

  @mixin mobile-css {
    .player-controls {
      padding: 0.25rem 0;
      width: 95%;
    }

    .toggle-audio.desktop,
    .toggle-play.desktop {
      display: none;
    }
  }

  @include mobileLandscape() {
    @include mobile-css;
  }

  @include mobilePortrait() {
    @include mobile-css;
  }

  @include desktop() {
    .player-controls {
      width: 80%;
      padding: 0.5rem 0.75rem;
    }

    .time-display {
      display: block;
    }
  }

  @include desktop() {
    .mobile-controls {
      display: none;
    }

    .toggle-audio.desktop,
    .toggle-play.desktop {
      display: flex;
      margin: 0;
    }
  }
}
