@use "../utils/color";

.video-snapshots {
  margin-top: 1rem;
  width: 90%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 1rem;

  .video-snapshot {
    width: 100%;
    display: flex;
    flex-direction: column;

    > img {
      width: 100%;
      margin-bottom: 1rem;
    }

    form {
      margin-top: auto;
      width: 100%;
      display: flex;
      flex-direction: column;

      > button {
        margin: 0.25rem;
      }
    }

    .btn--secondary {
      background: color.$white;
      border: 1px solid color.$veue-corporate;
      color: color.$veue-corporate;

      &:focus,
      &:hover {
        color: darken(color.$veue-corporate, 20);
        background: lighten(color.$veue-corporate, 30);
      }

      &:disabled {
        border: 1px solid transparent;
        color: color.$gray-lighter;
        background: color.$gray-light-blue;
      }
    }

    .btn--danger {
      background: color.$white;
      border: 1px solid color.$red-highlight;
      color: color.$red-highlight;

      &:focus,
      &:hover {
        color: darken(color.$red-highlight, 20);
        background: lighten(color.$red-highlight, 32);
      }

      &:disabled {
        border: 1px solid transparent;
        color: color.$gray-lighter;
        background: color.$gray-light-blue;
      }
    }
  }
}
