@use "utils/color";
@use "utils/font";
@use "utils/accessibility";
@use "utils/micro_reset";

body,
textarea {
  font-family: font.$nunito;
  font-weight: font.$normal-weight;
  min-width: 0;
}

h2 {
  font-size: 20px;
  font-weight: 400;
  font-family: font.$poppins;
  line-height: 30px;
  color: color.$neutral-dark;
}

body {
  margin: 0;
  background: #f5f6f8;
  -webkit-font-smoothing: antialiased;
  box-sizing: content-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

button {
  &:hover {
    cursor: pointer;
  }

  &:active,
  &:hover,
  &:focus {
    outline: none;
  }
}

button {
  background: color.$cornflower;
  color: color.$white;
  font-family: font.$nunito;
  border-radius: 10px;
  padding: 0.35rem 1rem 0.35rem 1rem;
  font-size: 1rem;
  font-weight: font.$heavy-weight;
  border: 0;
  &:disabled {
    color: color.$gray-lighter;
    background: color.$gray-light-blue;
  }
}

input[type="text"],
input[type="tel"] {
  font-size: 1.4rem;
}
