body {
  margin: 0;
  background: #f5f6f8;
}

$rounded-corners: 20px;

#layout-container {
  background-clip: content-box;
  margin: auto;
  border: 1px solid #e2e3e7;
  border-radius: $rounded-corners;
  //align-items: stretch;

  #main-container {
    display: flex;
    padding: 0 2rem 2rem 2rem;

    .content-area {
      display: flex;
      flex-direction: row;

      .content-area__right__big {
        flex: 9;
        margin-right: 2rem;
        border-radius: $rounded-corners;
        box-shadow: 0 0 2.8125rem 0 rgba(142, 142, 142, 0.15);
      }

      .content-area__left__small {
        flex: 3;
        display: inline-block;
        overflow: hidden;
        background: white;
        border-radius: 10px;
        box-shadow: 0 0 2.8125rem 0 rgba(142, 142, 142, 0.15);
      }
    }
  }
}

.p-1 {
  padding: 1rem;
}
