body {
  margin: 0;
  background: #f5f6f8;
  -webkit-font-smoothing: antialiased;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
}
button {
  &:active,
  &:hover {
    outline: none;
  }
}

#layout-container {
  background-clip: content-box;
  margin: auto;

  #main-container {
    display: flex;
    padding: 0 1.875rem 1.875rem 1.875rem;

    .content-area {
      .content-area__right__big {
        flex: 10.5;
        margin-right: 1.875rem;
        border-radius: 1rem;
      }

      .content-area__left__small {
        flex: 3.25;
        overflow: hidden;
        background: white;
        border-radius: 10px;
        box-shadow: 0 0 2.8125rem 0 rgba(142, 142, 142, 0.15);
      }
    }
  }
}
