@use "utils";


body {
  margin: 0;
  background: #dde3f0;
  padding: 2vh 2vw 2vh 2vw;
}

$rounded-corners: 20px;

#layout-container {
  background-clip: content-box;
  margin: auto;
  border: 1px solid #e2e3e7;
  border-radius: $rounded-corners;
  display: flex;
  background: white;
  align-items: stretch;
  max-width: 250vh;

  #main-container {
    width: 100%;

    .content-area {
      display: flex;
      flex-direction: row;

      .content-area__right__big {
        flex: 10;
        background: #f5f6f8;
        padding: 15px;
        border-radius: $rounded-corners 0 0 $rounded-corners;
      }

      .content-area__left__small {
        flex: 3;
        background: white;
        border-radius: 0 $rounded-corners $rounded-corners 0;
        padding: 15px;
      }
    }
  }
}
