@use "components/nav";

#layout-container {
  display: flex;
  flex-direction: column;
  #main-container {
    height: calc(100vh - 54px);
    display: flex;
    justify-content: center;
    padding: 0;

    .content-area {
      padding-top: 2vh;
      flex: 1;
      display: flex;
    }
  }
}
