@use 'utils/color';
@use 'utils/border';
@use 'utils/font';
@use 'utils/spacing';
@use 'utils/scroll';
@use 'utils/text';

// Realtime chat section
.chat-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: color.$white;
  font-size: 1rem;
  border-radius: 10px;
  .messages-overflow-container {
    flex: 1 1 auto;
    overflow-y: auto;
    height: 0;
    word-break: break-word;
    overflow-wrap: break-word;
    &::-webkit-scrollbar-track {
      background: color.$white;
    }
    .messages {
      margin: 1rem;
      min-height: 95%; // This keeps the messages taking up some space so that the first message is below
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .message-left {
        margin-top: 1rem;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 5px;

        .message-content {
          &__name {
            color: color.$neutral-middle;
            margin-bottom: 0.25rem;
            margin-top: 0.25rem;
          }

          &__text {
            background-color: color.$white;
            color: color.$neutral-dark;
            border: 1px solid color.$neutral-accents;
          }
        }

        .user-avatar {
          image {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
          }
        }
      }

      .message-right {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-bottom: 5px;

        &__text {
          border: 2px solid color.$neutral-accents;
          color: color.$gray-bluish;
          border-radius: 10px 0px 10px 10px;
        }
      }

      .message-grouped {
        &__text {
          background-color: color.$white;
          color: color.$neutral-dark;
          border: 1px solid color.$neutral-accents;
          margin-bottom: 20px;
        }
      }

      .user-joined {
        background: color.$neutral-regular;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 5px 0px;
        border-radius: 15px;
        padding: 5px 10px;
        color: white;
        min-height: 28px;
        max-width: 220px;

        div {
          margin: 5px 0px 5px 10px;
          align-items: center;
        }

        img {
          color: white;
          width: 15px;
          margin-left: 5px;
        }
      }

      .border-left {
        border-radius: 0px 10px 10px 10px;
      }

      .message-display {
        padding: 0.5rem 1rem;
        display: inline-block;
      }
    }
  }
  .message-write {
    border-top: 1px solid color.$neutral-accents;
    width: 100%;
    min-height: 55px;
    background: color.$white;
    border-radius: 0px 0px 10px 10px;

    > * {
      margin: 12px;
    }

    .write-area {
      padding: 0.5rem 1rem;
      background: color.$neutral-background;
      min-height: 27px;
      border-radius: 10px;
      outline: none;
    }
  }

  .message-login-prompt {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    button {
      width: 100%;
      background: color.$neutral-soft;
    }
  }
}
