@use 'utils/color';
@use 'utils/border';
@use 'utils/font';
@use 'utils/spacing';
@use 'utils/scroll';
@use 'utils/text';

// Realtime chat section
.chat-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: color.$white;
  .messages-overflow-container {
    flex: 1 1 auto;
    overflow-y: auto;
    height: 0;
    word-break: break-word;
    overflow-wrap: break-word;
    &::-webkit-scrollbar-track {
      background: color.$white;
    }
    .messages {
      margin: 1rem;
      min-height: 95%; // This keeps the messages taking up some space so that the first message is below
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .message-right {
        display: flex;
        justify-content: flex-end;
        width: 100%;

        &__text {
          border: 2px solid color.$gray-light-blue;
          color: color.$gray-bluish;
          border-radius: 1rem 1rem 0.5rem 1rem;
        }
      }

      .message-left {
        margin-top: 1rem;
        display: flex;

        .message-content {
          &__name {
            color: color.$neutral-middle;
            margin-bottom: 0.25rem;
            margin-top: 0.25rem;
            font-size: 0.75rem;
          }

          &__text {
            background-color: color.$gray-lighter;
            color: color.$gray-darker-2;
          }
        }

        .user-avatar {
          image {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
          }
        }
      }

      .message-grouped {
        &__text {
          background-color: color.$gray-lighter;
          color: color.$gray-darker-2;
        }
      }

      .user-joined {
        background: color.$neutral-regular;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 5px 0 5px 0;
        border-radius: 10px;
        padding: 5px 10px;
        color: white;

        img {
          width: 14px;
          color: white;
          margin-right: 5px;
        }
      }

      .border-left {
        border-radius: 0.5rem 1rem 1rem 1rem;
      }

      .message-display {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        display: inline-block;
        margin-bottom: 0.25rem;
      }
    }
  }
  .message-write {
    border-top: 1px solid color.$gray-light-1;
    width: 100%;
    height: 6rem;
    .write-area {
      margin-top: 1rem;
      padding: 0rem 0.5rem;
      &__text {
        font-size: 1rem;
        border: none;
        color: color.$light-black;
        font-family: font.$poppins;
        font-weight: 400;
        resize: none;
      }
    }
  }

  .message-login-prompt {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
}
