body#discover__index {
  .videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  #main-container {
    .content-area {
      flex-direction: column;
      h2 {
        text-align: center;
      }
    }
  }
}
