@use "./utils/breakpoints" as *;
@use "./utils/z_index";
@use "./utils/scroll";

body#discover__index {
  header {
    position: sticky;
    top: 0;
    z-index: z_index.$default;
  }

  #main-container {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;

    .content-area {
      width: 100vw;
      display: flex;
      flex-direction: column;
      flex: 1;
      align-items: center;

      .discover {
        max-width: 1400px;
        display: flex;
        width: calc(100% - 50px);
        flex-direction: column;
        align-items: stretch;
        margin-bottom: 20px;

        h2 {
          margin: 30px 0 30px;
        }

        &__strip {
          &__items {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            overflow-x: auto;
            overflow-y: hidden;

            @include scroll.hideBars();

            & > * {
              scroll-snap-align: start;
              margin-right: clamp(10px, 5vw, 34px);
              height: 100%;
            }

            // Dont let video cards shrink!
            & > .video-card {
              flex-shrink: 0;
            }
          }
        }

        &__hero {
          margin-top: 2rem;
          width: 100%;

          img {
            width: 100%;
          }
        }

        &__content {
          margin: 3rem auto 0;
          width: clamp(200px, 75vw, 1400px);
        }
      }

      .main-footer {
        align-self: stretch;
        margin-top: auto;
      }
    }
  }

  @include large() {
    .discover {
      margin: 0 140px 20px 140px;
    }
  }
}
