@use 'utils/color';
@use 'utils/border';
@use 'utils/display';
@use 'utils/font';
@use 'utils/spacing';
@use 'utils/scroll';
@use 'utils/text';

.content-area__left__small {
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  .play-button {
    left: 5px;
    bottom: 10px;
    background: red;
    color: white;
    border: none;
    padding: 0.35rem 0.65rem;
    border-radius: 5px;
  }
}
#videos__show,
#videos__streamer {
  canvas {
    width: 100%;
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
  }

  video {
    display: none;
  }

  .browser {
    display: flex;
    flex-direction: column;
    .browser__toolbar {
      display: flex;
      width: 100%;
      height: 2em;
      input {
        height: 2em;
        width: 100%;
      }
    }
    .browser__frame {
      canvas {
        width: 100%;
      }
    }
  }
}

// Realtime chat section
.chat-section {
  background-color: color.$white;
  .account-header {
    .comment-section {
      .comment-grid {
        display: flex;
        flex-direction: column;
        max-height: 350px;
        overflow-y: auto;
        .message-right {
          display: flex;
          justify-content: flex-end;
          width: 100%;
          &__text {
            border: 2px solid color.$gray-light-blue;
            color: color.$gray-bluish;
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 0.5rem;
          }
        }
        .message-left {
          margin-top: 1rem;
          &__name {
            color: color.$gray;
            margin-bottom: 0.25rem;
          }
          &__text {
            background-color: color.$gray-lighter;
            color: color.$gray-darker-2;
          }
        }
        .message-grouped {
          &__text {
            background-color: color.$gray-lighter;
            color: color.$gray-darker-2;
          }
        }
        .border-left {
          border-top-left-radius: 0.5rem;
          border-bottom-left-radius: 1rem;
          border-top-right-radius: 1rem;
          border-bottom-right-radius: 1rem;
        }
        .message-display {
          padding: 0.5rem 1rem;
          font-size: 0.75rem;
          display: inline-block;
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  input[type="submit"] {
    background: color.$gray-light;
    color: color.$gray-darker;
    border: none;
  }

  .message-write {
    border-top: 1px solid color.$gray-light-1;
    width: 90%;
    .write-area {
      margin-top: 1rem;
      padding: 0rem 0.5rem;
      &__text {
        border: none;
        font-size: 1rem;
        color: color.$light-black;
        font-family: font.$poppins;
        font-weight: 400;
        resize: none;
      }
    }
  }
}

.text-capitalised {
  text-transform: capitalize;
}

.streamer-profile {
  border: 1px solid color.$gray-light;
  border-radius: 10px;
  padding: 1rem;
  .streamer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;
    &__avatar {
      display: flex;
      padding-right: 0.25rem;
      align-items: center;
      .streamer-name {
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.57;
        letter-spacing: 0.7px;
        text-align: left;
        padding-left: 0.5rem;
      }
    }
    .follow-btn {
      border-radius: 10px;
      padding: 0.5rem;
      background-color: color.$gray-light;
      color: color.$gray-darker-1;
      font-size: 1rem;
    }
  }
  .stream-info {
    .stream-num {
      color: color.$gray-dark;
      margin-bottom: 0.5rem;
    }
    .stream-name {
      color: color.$gray-darker;
      font-size: 1rem;
    }
  }
}
