@use 'utils/color';

.content-area__left__small {
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  .stream-area {
    position: relative;
  }
  .play-button {
    position: absolute;
    left: 5px;
    bottom: 10px;
    background: red;
    color: white;
    border: none;
    padding: 0.35rem 0.65rem;
    border-radius: 5px;
  }
}
#videos__show,
#videos__streamer {
  canvas {
    width: 100%;
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
  }

  video {
    display: none;
  }

  .browser {
    display: flex;
    flex-direction: column;
    .browser__toolbar {
      display: flex;
      width: 100%;
      height: 2em;
      input {
        height: 2em;
        width: 100%;
      }
    }
    .browser__frame {
      canvas {
        width: 100%;
      }
    }
  }
}

.text-capitalised {
  text-transform: capitalize;
}

.streamer-profile {
  border: 1px solid color.$gray-light;
  border-radius: 10px;
  padding: 1rem;
  .streamer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;
    &__avatar {
      display: flex;
      padding-right: 0.25rem;
      align-items: center;
      .streamer-name {
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.57;
        letter-spacing: 0.7px;
        text-align: left;
        padding-left: 0.5rem;
      }
    }
    .follow-btn {
      border-radius: 10px;
      padding: 0.5rem;
      background-color: color.$gray-light;
      color: color.$gray-darker-1;
      font-size: 1rem;
    }
  }
  .stream-info {
    .stream-num {
      color: color.$gray-dark;
      margin-bottom: 0.5rem;
    }
    .stream-name {
      color: color.$gray-darker;
      font-size: 1rem;
    }
  }
}
