@use 'utils/color';

.content-area__right__big {
  #video-area {
    position: relative;
  }
  canvas {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 0 2.8125rem 0 rgba(142, 142, 142, 0.15);
  }

  .video-bar {
    margin: 0 auto;
    height: 4.375rem;
    background-color: color.$white;
    box-shadow: 0 0 2.8125rem 0 rgba(142, 142, 142, 0.15);
    display: flex;
    align-items: center;
    padding: 0 1.1875rem;
    justify-content: space-between;
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
    &__search {
      width: 79%;
      display: flex;
      align-items: center;
      height: 2.375rem;
      padding: 0.25rem 0.9375rem;
      border: 1px solid color.$gray-light;
      border-radius: 0.625rem;
      position: relative;
      @media only screen and (min-width: 1024px) and (max-width: 1725px) {
        width: 69%;
      }
      input {
        border: none;
        width: 100%;
        padding-left: 1.5rem;
        font-size: 1rem;
        background-color: color.$white;
        color: color.$gray-dark-2;
      }
    }
    svg {
      fill: color.$gray-dark-2;
      width: 18px;
      height: 15px;
    }
    @media only screen and (min-width: 992px) and (max-width: 1300px) {
      height: 3rem;
      &__search {
        width: 77%;
        height: 1.375rem;
      }
    }
  }
  .upload {
    position: absolute;
    top: 0.85rem;
  }
  .time-area {
    padding: 0.6875rem 1.125rem;
    border: none;
    border-radius: 0.9375rem;
    margin-right: 0.4375rem;
    font-weight: 600;
  }
  .time-red {
    background-color: color.$red-light;
    color: color.$red-medium;
    .dot {
      background-color: color.$red-medium;
    }
  }
  .time-gray {
    background-color: color.$gray-light;
    color: color.$gray-dark-1;
    .dot {
      background-color: color.$gray-dark-1;
    }
  }
  .view-img {
    margin-right: 0.3125rem;
  }
  .time-dot {
    width: 0.4375rem;
    height: 0.4375rem;
    display: inline-block;
    border-radius: 0.4375rem;
    vertical-align: middle;
  }

  .player-actions {
    padding: 0.5rem 0.75rem;
    opacity: 0.8;
    border-radius: 1rem;
    background-color: #383838;
    position: absolute;
    bottom: 0;
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%);

    a {
      margin: 0 0.25rem;
      padding: 0.65rem 0.75rem;
      border-radius: 0.65rem;
      display: flex;
      align-items: center;
      svg {
        fill: white;
        width: 15px;
        height: 14px;
        color: color.$white;
      }
      img {
        width: 15px;
        height: 14px;
      }
    }
    .black-icon {
      background-color: color.$black;
      opacity: 1;
    }
    .active-icon {
      background-color: color.$cornflower;
      opacity: 1;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1300px) {
    .time-area {
      display: flex;
      padding: 0.25rem 0.5rem;
      justify-content: center;
      align-items: center;
      margin-left: 0.5rem;
      .dot {
        margin-right: 0.5rem;
      }
    }
    .upload {
      position: absolute;
      top: 0.5rem;
    }
  }
}

.content-area__left__small {
  min-width: 235px;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .stream-area {
    position: relative;
  }
}
#videos__show {
  canvas {
    width: 100%;
  }

  .browser {
    display: flex;
    flex-direction: column;
    .browser__toolbar {
      display: flex;
      width: 100%;
      height: 2em;
      input {
        height: 2em;
        width: 100%;
      }
    }
    .browser__frame {
      canvas {
        width: 100%;
      }
    }
  }
}

.streamer-profile {
  border: 1px solid color.$gray-light;
  border-radius: 10px;
  padding: 1rem;
  font-size: 0.875rem;
  text-transform: capitalize;
  .streamer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;
    &__avatar {
      display: flex;
      padding-right: 0.25rem;
      align-items: center;
      svg {
        border-radius: 50%;
        height: 2rem;
        width: 2rem;
      }
      .streamer-name {
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.57;
        letter-spacing: 0.7px;
        text-align: left;
        padding-left: 0.5rem;
      }
    }
    .follow-btn {
      border-radius: 10px;
      padding: 0.5rem 1rem;
      background-color: color.$gray-light;
      color: color.$gray-darker-1;
    }
  }
  .stream-info {
    .stream-num {
      color: color.$gray-dark;
      margin-bottom: 0.5rem;
    }
    .stream-name {
      color: color.$gray-darker;
    }
  }
}

#videos__broadcast {
  canvas,
  video {
    width: 99%;
    border: 1px solid green;
  }

  .browser__frame {
    width: 1280px;
    height: 800px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .streamer-profile {
    padding: 0.5rem 1rem;
    .streamer-info {
      margin-bottom: 0.2rem;
      &__avatar {
        svg {
          height: 1.5rem;
          width: 1.5rem;
        }
        .streamer-name {
          font-size: 12px;
        }
      }
      .follow-btn {
        padding: 0.3rem 1rem;
      }
    }
  }
}
