.top-navbar{"data-user-id": current_user&.id}
  .navbar-link
    .navbar-logo
      = link_to root_path do
        = svg_tag 'logo-full'
  .status-user
    .user-auth-area
      - if user_signed_in?
        = render partial: "layouts/nav/user_info_list", locals: { show_arrow: true}
        .status-dropdown
          %ul
            %li
              = link_to 'Sign Out', authentication_path, method: :delete, class: 'list-item'
      - else
        %button.list-item{data: { action: "click->authentication#showModal"}}
          Login

