.auth-area
  %h2 Create Account Veue
  %br
  .auth-form
    = render partial: 'form', locals: { resource: resource, resource_name: resource_name, request_method: :post, remote: false }
  .shared-links
    = render "users/shared/links"
