.primary-video__header{
  "data": { "controller": "audience--header-bar" }
}
  .primary-video__header__address_bar
    #address-input{
      "data": {
        "target": "audience--header-bar.addressInput"
      }
    }
  - if current_video.live?
    .widget
      .icon
        = svg_tag "view"
      #active-viewers{
        "data": {
          "controller": "live-viewer-count",
          "target": "live-viewer-count.counter"
        }
      }= current_video.active_viewers_count
    .widget.live
      LIVE
  - if current_video.finished?
    - video_views = current_video.video_views.count
    .widget{"data-views": video_views}
      .icon
        = svg_tag "view"
      #active-viewers
        = video_views
    .replay-badge
      REPLAY
      .badge-message
        .badge-message__body
          This stream has ended on
          = current_video.created_at.strftime("%B %d, %Y")
