.video-header{
  data: {
    controller: "audience--header-bar",
    target: "canvas-size-observer.resizable"
  },
}
  - if current_video.live?
    .widget.live
      .widget-live__desktop
        LIVE
    .widget
      .icon
        = svg_tag "view"
      #active-viewers{
        "data": {
          "controller": "live-viewer-count",
          "target": "live-viewer-count.counter"
        }
      }= current_video.active_viewers_count
  - if current_video.finished?
    .replay-badge
      %span.replay-badge__text
        REPLAY
      .badge-message
        .badge-message__body
          This stream happened on
          = current_video.created_at.strftime("%B %d, %Y")
    - video_views = current_video.video_views.size
    .widget{"data-views": video_views}
      .icon
        = svg_tag "view"
      #active-viewers
        = video_views
