.pin-box#pin-area{data: {controller: "audience--pins"}}
  - current_video.pins.reverse.each do |pin|
    .pin{invisible: true, data: {"pin_id": pin.id, "timecode": pin.timecode_ms}}
      = image_tag pin.thumbnail, alt: pin.name, class: 'pin__img'
      .button-area
        .icon-box
          = svg_tag 'heart'
        .icon-box
          = svg_tag 'bookmark'
        .icon-box
          = svg_tag 'hyperlink'