.player-controls
  = play_button

  .time-display
    %span{id: "current-time-display", data: { target: "audience--player-controls.timeDisplay audience-view.timeDisplay"}}
      00:00:00

  %span.progress-bar-container{
    data: {
      target: "audience--player-controls.progressBarContainer",
      action: "pointerdown->audience--player-controls#handlePointerDown
               pointerup->audience--player-controls#handlePointerUp
               pointermove->audience--player-controls#handlePointerMove"
    }}
    %span.progress-bar{
      data: { target: "audience--player-controls.progressBar", currentTime: "0", duration: "0" }
    }

    %button.progress-bar-btn{
      data: { target: "audience--player-controls.progressBarButton" }
    }

  .time-display
    %span{id: "duration-time-display", data: { target: "audience-view.timeDuration audience--player-controls.timeDuration"}}
      00:00:00

  = audio_button

-# Need to be duplicated and removed parent due to positioning issues with absolute
.mobile-controls
  = play_button(mobile: true)
  = audio_button(mobile: true)

