#upcoming-stream
  .stream-notification
    .stream-notification__header
      = svg_tag "no-stream"
      %span
        This stream has not started yet
  .stream-body
    .stream-body__icon
      = svg_tag "logo-gray-xxl"
  = render partial: "channels/videos/partials/pip_area"
