- if upcoming_stream?
  .secondary-upcoming-stream
    = svg_tag "no-webcam"
- else
  %canvas.fixed-secondary-canvas{
    "data-target": "audience-view.fixedSecondaryCanvas",
    width: 420,
    height: 340
  }
  %video.player__video.viewer{
    "data-target": "audience-view.video",
    crossorigin: "anonymous",
    src: current_video.hls_url,
    style: "width: 0px;",
    playsinline: "playsinline"
  }
